// Base Colors
$black: #000000;
$blue: #002366;
$light_pink: #f41950;
$white: #ffffff;
$roboto_font: 'Roboto', serif;
$lato_font: 'Lato', serif;

body {
    margin: 0 !important;
}

.success_message {
    color: $blue;
    margin: 6px 0;
    font-weight: 600;
    font-family: $lato_font;
    font-style: italic;
}

.show_desktop {
    display: block;
    @media only screen and (max-width: 600px) {
        display: none;
    }
}

.show_mobile {
    display: block;
    @media only screen and (min-width: 601px) {
        display: none;
    }
}

.error_message {
    color: $light_pink;
    margin: 0;
    font-weight: 600;
    font-family: $lato_font;
    font-style: italic;
}

.popup_backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    z-index: 99;
}

.close_popup_button {
    position: fixed;
    top: 20px;
    right: 20px;
    font-weight: 700;
    font-size: 28px;
    color: #FFF;
}

.thankyou_page_template {
    margin: 150px auto;
    text-align: center;
    font-family: $lato_font;
    p {
        font-size: 22px;
        font-weight: 600;
        font-style: italic;
    }
    button {
        background-color: #f41950 !important;
        border: none !important;
        outline: none !important;
        border-radius: 0 !important;
        padding: 8px 22px;
        margin: 20px 0 0 0;
        font-weight: 600;
        font-size: 16px;
    }
}

@mixin translateY($e) {
    -webkit-transform: translateY($e);
    -moz-transform: translateY($e);
    transform: translateY($e);
}

@mixin transition($e) {
    -webkit-transition:$e;
    -moz-transition:$e;
    transition:$e;
}

@mixin customised_button($border, $background, $color){
    border: 1px solid $border;
    background-color: $background;
    color: $color;
    padding: 8px 12px;
    border-radius: 4px;
}

@media only screen and (max-width: 600px){
    .thankyou_page_template{
        p{
        font-size: 17px;
        }
    }
}
