html
    head
        title Page not found
        style.
            .page-not-found {
                margin: 100px;
                text-align: center;
            }
            .goBackBtn {
                background-color: #FD6F56;
                padding: 10px;
                color: white;
                font-weight: bold;
                cursor: pointer;
                border: none;
                outline: none;
                font-family: Helvetica;
                margin: 10px;
            }
            .message {
                font-size: 22px;
                font-family: Helvetica;
                letter-spacing: 0.1px;
                line-height: 26px;
                color: #30343F;
                margin: 25px 0;
                padding: 0 25px;
            }
            .page-not-found-image{
                width: 25vw;
            }
    body
        .page-not-found
            .page-not-found
                a(href='https://www.universityliving.com')
                    //img.page-not-found-image(alt='Not-Found', src='https://www.universityliving.com/img/oops.svg')
                p.message
                    | Oops! The page you are looking for might have been removed or is temporary unavailable.
                .btnDiv
                    a(href='/')
                        button.btn.btn-primary.goBackBtn Go to home page
                    a(href='https://www.universityliving.com/contact')
                        button.btn.btn-primary.goBackBtn Contact Us
