.common_thank_you_message {
  text-align: center;
  margin: 200px 0 100px 0;
  p {
    font-size: 22px;
    font-weight: 600;
    font-family: $lato_font;
    font-style: italic;
    color: $light_pink;
    letter-spacing: 0.6px;
  }
  button {
    background-color: $light_pink !important;
    border: none !important;
    outline: none !important;
    border-radius: 0 !important;
    padding: 8px 22px;
    margin: 20px 0 0 0;
    font-weight: 600;
    font-size: 16px;
  }
}