footer {
    display: inline-block;
    width: 100%;
    padding: 7.5rem 10px;
    background-color: #F7F7F7 !important;
    border-top: 1px solid #DDDDDD !important;
    margin: 100px 0 0 0;
    .footer_website_logo {
        width: 40%;
    }
    .short_desc {
        color: $black;
        margin: 20px 0;
        font-size: 16px;
        font-family: 'Lato', serif;
        width: 90%;
        text-align: justify;
    }
    .copyright_text {
        color: $black;
        margin: 0;
        font-size: 12px;
        font-family: 'Lato', serif;
        a {
            color: $black;
        }
    }
    .footer_headlines {
        color: $black;
        font-size: 20px;
        font-weight: 600;
        margin: 0 0 12px 0;
        border-bottom: 2px solid;
        width: fit-content;
        font-family: 'Lato', serif;
        padding: 0 0 10px 0;
    }
    .follow_headline {
        color: $black;
        font-weight: 600;
        margin: 52px 0 10px 0;
    }
    .fa {
        color: $black;
        font-size: 25px;
        margin: 0 30px 0 0;
    }
    ul {
        padding: 0;
         li {
             list-style-type: none;
             margin: 0 0 10px 0;
             a {
                 color: $black !important;
                 text-decoration: none !important;
                 font-weight: 600;
                 font-size: 16px;
                 font-family: $lato_font;
             }
         }
    }
    .social_media_icon {
        width: 30px;
        margin: 0 10px 0 0;
    }

    @media only screen and (max-width: 600px) {
        padding: 40px 0;
        margin: 0;
        .footer_website_logo {
            width: 50%;
        }
        .short_desc {
            font-size: 14px;
            width: 100%;
            margin: 22px 0 0 0;
        }
        ul {
            li {
                margin: 0 20px 20px 0;
                display: inline-block;
            }
        }
    }
}
