.header_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 10;
    padding: 6px 40px;
    .logo_wrapper {
        display: inline-block;
        img {
            width: 65%;
        }
    }
    .suggestions_list_wrapper {
        width: 85% !important;
        top: 100%;
    }

    .typeahead {
        width: 40%;
        position: absolute;
        top: 20%;
        left: 30%;
        input {
            border-top: 1px solid !important;
            border-left: 1px solid !important;
            border-bottom: 1px solid !important;
            border-right: 0 !important;
            border-radius: 0;
            height: 40px;
        }
        button {
            border-radius: 0;
            height: 40px;
            font-weight: 600;
            font-family: $lato_font;
            width: unset;
        }
    }

    .desktop_hamburger {
        background-color: #FFF;
        padding: 12px 20px;
        width: fit-content;
        position: absolute;
        top: 25%;
        right: 5%;
        border-radius: 37px;
        cursor: pointer;
        display: block;
        div {
            height: 3px;
            width: 25px;
            background-color: #000;
            margin: 0 0 4px 0;
            &:last-child {
                margin: 0;
            }
        }
    }

    .close_desktop_hamburger {
        position: absolute;
        right: 5%;
        bottom: 15%;
        color: $light_pink;
        font-weight: 900;
        font-size: 18px;
        background-color: #F1F1F1;
        padding: 4px 10px;
        cursor: pointer;
    }

    .menus_wrapper {
        .show_desktop {
            position: absolute;
            right: 5%;
            top: 90%;
            background-color: #FFF;
            padding: 26px 40px;
            border-radius: 10px;
            box-shadow: 0 2px 2px 2px lightgrey;
            border: 1px solid #CCC;
            ul {
                padding: 0;
                margin: 0;
                img {
                    width: 25px;
                }
                li {
                    list-style-type: none;
                    display: block;
                    margin: 0 0 20px 0;
                    font-weight: 600;
                    letter-spacing: 2px;
                    font-family: $lato_font;
                    cursor: pointer;
                    color: #000;
                    a {
                        color: #000;
                        text-decoration: none !important;

                    }
                    &:last-child {
                        margin: 0;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 600px) {
        padding: 6px 18px;
        border-bottom: 1px solid #CCC;
        background-color: #FFF;
        .desktop_hamburger {
            display: none;
        }
        .logo_wrapper {
            img {
                width: 40%;
            }
        }
        .mobile_hamburger {
            position: absolute;
            top: 20px;
            right: 20px;
            div {
                width: 30px;
                height: 2px;
                background-color: $blue;
                margin: 0 0 6px 0;
                &:last-child {
                    margin: 0;
                }
            }
        }

        .typeahead {
            display: none;
        }

        .menus_wrapper {
            margin: 10px 0 0 0;
        }

        .side_drawer_wrapper {
            position: fixed;
            background-color:#F1F1F1;
            z-index: 20;
            right: 0;
            top: 0;
            width: 65%;
            height: 100vh;
            padding: 65px 40px;
            border-radius: 0;
            ul {
                padding: 0;
                li {
                    list-style-type: none;
                    letter-spacing: 2px;
                    font-size: 15px;
                    margin: 0 0 10px 0;
                    width: fit-content;
                    font-weight: bold;
                    a{
                        color: $light_pink;
                        letter-spacing: 0.4px;
                        font-family: $lato_font;
                    }
                }
            }
            .calling_extension {
                margin: 50px 0 0 0;
                p {
                    font-family: $lato_font;
                    color: #000000;
                    letter-spacing: 0.3px;
                    &:first-child{
                        font-size: 20px;
                        margin: 0;
                        font-weight: 600;

                    }
                    &:nth-child(2) {
                        margin: 14px 0 6px 0;
                    }
                    &:nth-child(3) {
                        margin: 0 0 15px 0;
                    }
                    &:nth-child(4) {
                        margin: 0 0 6px 0;
                    }
                    &:nth-child(5) {
                        margin: 0;
                    }
                }
            }

            .social_media_extension {
                margin: 60px 0 0 0;
                p {
                    font-family: $lato_font;
                    color: #000000;
                    letter-spacing: 0.3px;
                    font-size: 20px;
                    margin: 0 0 10px 0;
                    font-weight: 600;
                }
                .fa {
                    margin: 0 20px 0 0;
                    color: #000;
                    font-size: 22px;
                }
            }
            .fa-long-arrow-left {
                position: absolute;
                top: 10px;
                left: 15%;
                font-weight: 700;
                font-size: 28px;
                color: $light_pink;
            }
        }
    }
}

.background_header {
    background-color: #FFF;
    border-bottom: 1px solid #CCC;
    .menus_wrapper {
        ul {
            li {
                color: $light_pink;
                a {
                    color: $light_pink;
                }
            }
        }
    }
}