.leads_generation_form_component_wrapper {
    p {
        font-family: "Lato", serif;
    font-size: 18px;
  margin:0px 0px 20px 0px;
  padding: 0px 30px;
    text-align: center;
    a{
        color:$light_pink
    }
   
    }
    .popup_contents {
        position: fixed;
        top: 30%;
        left: 30%;
        background-color: #FFF;
        text-align: center;
        padding: 25px;
        border-radius: 6px;
        font-family: $lato_font;
        font-style: italic;
        button {
            margin: 0 auto;
            color: #FFF;
            font-weight: 600;
            font-style: normal;
        }
    }
    .single_form_field {
        display: inline-block;
        width: 50%;
        margin: 8px 0;
        padding: 0 11px;
        .contact_number_wrapper {
            display: flex;
            width: 100%;
            select {
                width: 100%;
                border-radius: 4px;
                font-size: 14px;
            }
        }
        label {
            display: block;
            font-family: $lato_font;
            letter-spacing: 0.5px;
            font-size: 13px;
            margin: 0 0 4px 0;
        }
        input, select {
            display: block;
            width: 100%;
            height: 40px;
            border: 1px solid;
            border-radius: 4px;
            outline: none !important;
            padding: 6px 8px;
            background-color: #FFF;
        }
    }
    .full_length_field {
        display: block;
        width: 100%;
        margin: 15px 0;
        padding: 0 8px;
        select {
            display: block;
            width: 100%;
            height: 40px;
            border: 1px solid;
            border-radius: 4px;
            outline: none !important;
            padding: 6px 8px;
            background-color: #FFF;
            font-size: 14px;
        }
        textarea {
            display: block;
            width: 100%;
            height: 80px;
            border: 1px solid;
            border-radius: 4px;
            outline: none !important;
            padding: 6px 8px;
            background-color: #FFF;
        }
    }
    button {
        outline: none !important;
        border: none !important;
        background-color: $light_pink !important;
        font-family: $lato_font;
        letter-spacing: 0.5px;
        border-radius: 0;
        display: block;
        padding: 8px 34px;
        font-weight: 600;
        font-size: 16px;
        margin: 17px auto 0px auto;
    }
    @media only screen and (max-width: 600px) {
        p {
            margin: 0 0 18px 0;
            font-size: 14px;
            letter-spacing: 0.6px;
            padding: 0px;
        }
        .popup_contents {
            left: 0;
        }
        .single_form_field, .full_length_field {
            width: 100%;
            display: block;
            margin:  0 0 15px 0;
            padding: 0;
            label{
                font-size: 12px;
            }
            select{
                font-size: 14px;
            }
        }
       
    }
}