.newsletter {
    .newsletter_error_message {
        margin: 14px 0 0 0;
        text-align: center;
        color:$light_pink;
        font-weight: 600;
        font-size: 20px;
        font-style: italic;
    }

    .newsletter_popup_content {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #FFF;
        z-index: 9;
        text-align: center;
        padding: 40px;
        border-radius: 5px;
        p {
            margin: 0 0 18px 0;
            font-size: 20px;
            font-family: $lato_font;
            color: $light_pink;
            font-style: italic;
        }
        button {
            background-color: $light_pink !important;
            border: none;
            padding: 10px 30px;
            font-size: 20px;
            font-weight: 600;
        }
    }

    .newsletter_description {
        p {
            color: $black;
            font-size: 16px;
            letter-spacing: 0.5px;
            margin: 0 0 8px 0;
            font-family: 'Lato', sans-serif;
        }
    }

    .newsletter_form_wrapper {
        input {
            height: 40px;
            border-radius: 0;
            outline: none !important;
            border: 1px solid #CCC !important;
            padding: 0 30px;
            display: inline-block;
            width: 80%;
        }
        button {
            height: 40px;
            border-radius: 0;
            outline: none !important;
            border: none !important;
            padding: 0 6px;
            display: inline-block;
            width: 20%;
            background: #676c71 !important;
            margin: -2px 0 0 0;
        }
    }

    @media only screen and (max-width: 600px) {
        .newsletter_description {
            p {
                &:first-child {
                    font-size: 16px;
                    margin: 16px 0 0 0;
                }
                &:nth-child(2) {
                    font-size: 18px;
                }
            }
        }

        .newsletter_form_wrapper {
            margin: 6px 0 0 0;
            input {
                width: 70%;
                border-radius: 6px 0 0 6px;
            }
            button {
                width: 30%;
                border-radius: 0 6px 6px 0;
            }
        }
    }
}