.service_form_component_wrapper {
    .single_row_wrapper {
        display: flex;
        .single_form_field {
            margin: 0 15px 15px 0;
            width: 50%;
            label {
                display: block;
                font-family: $lato_font;
                letter-spacing: 0.5px;
                font-size: 14px;
                margin: 0 0 4px 0;
            }
            input {
                display: block;
                width: 100%;
                height: 35px;
                border: 1px solid;
                border-radius: 4px;
                outline: none !important;
                padding: 6px 8px;
            }
            textarea {
                display: block;
                width: 100%;
                height: 100px;
                resize: none;
                border: 1px solid;
                border-radius: 4px;
                outline: none !important;
                padding: 6px 8px;
            }
        }
        .message_field_wrapper {
            width: 100% !important;
        }
    }
    button {
        outline: none !important;
        border: none !important;
        background-color: $light_pink !important;
        font-family: $lato_font;
        letter-spacing: 0.5px;
        border-radius: 0;
        padding: 6px 28px;
    }
}