.typeahead {
    display: flex;
    justify-content: center;
    input {
        height: 50px;
        width: 70%;
        border-radius: 10px 0 0 10px;
        outline: none !important;
        border: none !important;
        display: inline-block;
        padding: 0 20px;
        font-weight: 600;
        font-size: 16px;
    }
    button {
        display: inline-block;
        height: 50px;
        border-radius: 0 10px 10px 0;
        outline: none !important;
        border: none !important;
        background-color: $blue !important;
        box-shadow: none !important;
        width: 10%;
        font-weight: 600;
    }
    .suggestions_list_wrapper {
        width: 33%;
        background-color: #FFF;
        height: 300px;
        border: 2px solid;
        overflow-y: auto;
        z-index: 9;
        position: absolute;
        padding: 20px;
        h6 {
            margin: 6px 0;
            font-weight: 600;
            font-size: 16px;
            font-family: $roboto_font;
        }
        ul {
            padding: 0;
            li {
                list-style-type: none;
                font-family: $lato_font;
                font-size: 16px;
                border-bottom: 1px solid #EAEAEA;
                padding: 8px 0;
                cursor: pointer;
                color: $blue;
                text-decoration: none !important;
                font-weight: 600;
            }
        }
    }
    @media only screen and (max-width: 600px) {
        display: block;
        input {
            height: 50px;
            width: 80%;
            font-size: 13px;
            padding: 0 8px;
            border-radius: 5px 0 0 5px;
            border: 1px solid #CCC !important;
        }
        button {
            width: 20%;
            height: 50px;
            padding: 0;
            border-radius: 0 5px 5px 0;
            font-size: 14px;
            font-weight: 600;
            margin: 0;
        }
        .suggestions_list_wrapper {
            ul {
                li {
                    font-weight: 100;
                    font-size: 14px;
                }
            }
        }
    }
}