.about_us_page {
    .banner_wrapper {
        background-color: $black;
        img {
            width: 100%;
            opacity: 80%;
        }
    }
    .page_headline {
        font-family: $lato_font;
        letter-spacing: 0.5px;
        margin: 0 0 28px 0;
        font-weight: 600;
        font-size: 22px;
    }
    .page_description {
        .page_heading{
            font-family: $lato_font;
            letter-spacing: 0.5px;
            font-size: 27px;
          
            margin: 30px 0 0 0;
            text-align: center;
            font-weight: 600;
            color: $blue;
        }
      .page_content{
          font-size: 19px;
          margin:20px 0 0 0;
          text-align: center;
      }
    }
    img {
        width: 100%;
        object-fit: cover;
    }

    @media only screen and (max-width: 600px) {
        margin: 50px 0 50px 0;
        .page_headline {
            font-size: 18px;
            margin: 28px 0 18px 0;
        }
        .page_description {
            .page_heading{
                font-size: 22px;
                text-align: left;
            }
            .page_content{
                font-size: 16px;
                text-align: justify;
            }
        }
    }
}
