.accommodation_page_wrapper{
    .accommodation_hero_section{
        .accommodation_hero_image_wrapper{
            background-color: black;
        }
        img{
            width: 100%;
            opacity: 0.7;
        }
    }
    .accommodation_content_section{
        margin:40px 0px 0px 0px;
        padding:60px 20px;
        .accommodation_title{
            font-size:22px;
            font-family: 'lato';
            font-weight: bold;
        }
        .accommodation_description{
            font-size:16px;
            text-align: justify;
            font-family: 'lato';
        }
    }
 
    .contact_form{
        margin:60px auto 0px auto;
        box-shadow: 2px 2px 2px 2px lightgrey;
        padding: 30px;
        background-color: #f1f1f1;
        border-radius: 6px;
        .form_title{
            text-align: center;
            font-size: 22px;
            margin:0px 0px 20px 0px ;
            font-family: 'lato';
        }
       
    }
}

@media only screen and (max-width: 600px) {
    .accommodation_page_wrapper{
       
        .accommodation_content_section{
            margin:30px 0px 0px 0px;
            padding: 0;
            .accommodation_title{
                font-size:22px;
            }
            .accommodation_description{
                font-size:17px;
            }
        }
        .contact_form{
            width:100%;
            margin:40px auto 0px auto;
        }
    }

}