.airport_service_page_wrapper{
    .servicePage_hero_section{
        .hero_image_wrapper{
            background-color: black;
            img{
                width:100%;
                opacity: 60%;
               
            }
        }
        .hero_content_wrapper{
            position: absolute;
            top: 30%;
            left: 50%;
            color: white;
            text-align: center;
            transform: translate(-50%, -50%);
            .hero_title{
            font-size:30px;
            font-weight: 600;
            font-family: $lato_font;
            }
        }
    }
  
    .airport_content_section{
        margin:30px 0px 0px 0px;
        padding:50px 20px;
        .airport_title{
            font-size:22px;
            font-family: 'lato';
            font-weight: bold;
        }
        .airport_description{
            padding:20px 0px;
            font-size:16px;
            text-align: justify;
            font-family: 'lato';
        }
       
    }
    .service_title{
        font-size: 22px;
        margin:30px 0px 0px 0px;
        font-family: 'lato';
    }
    .contact_form{
        box-shadow: 2px 2px 2px 2px lightgrey;
        margin:10px auto 0px auto;
        padding:30px;
        background-color: #f1f1f1;
       
    }
    .login_section{
        padding: 10px 20px;
        border:2px solid black;
        margin:50px 50px 0 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .login_line{
            font-size:17px;
            font-family: $lato_font;
        }
        button{
            background-color: white;
            border: 1px solid;
            outline: none;
            padding: 5px 25px;
            color: black;
            margin: 0 30px 0 0;
            a{
                color:black;
                font-size: 17px;
                font-family: $lato_font;
                text-decoration: none;
            }
        }
    }
    .how_airport_works_section{
        margin: 30px 0 0 0;
        .how_pickup_works_headline{
            text-align: center;
            font-size:20px;
            font-weight: bold;
            font-family: $lato_font;
        }
    .single_step_section{
        text-align: center;
        .step_heading{
            font-size:16px;
            font-family: $lato_font;
            margin:20px 0;
            font-weight: bold;
        }
        img{
            width:20%;
        }
        .step_description{
            margin:20px 0;
            font-size:15px;
            font-family: $lato_font;
            text-align: justify;
        }
    }
    }

    .car_section_headline{
        font-size:20px;
        font-family: $lato_font;
        margin: 40px 0px 10px 0px; 
    }
    .car_section{
        display: flex;
        .single_car_section{
            img{
                width: 80%;
                margin:15px 0 0 0;
            }
            .car_name{
                font-family: $lato_font;
                font-size:17px;
                margin:10px 0;
            }
            .car_quality{
                font-family: $lato_font;
                font-size:14px;
            }
        }
    }


    .faq_section{
            margin:40px 0px 0px 0px;
            .faq_heading{
                font-size: 22px;
                font-family:'lato';
                text-align: center;
            }
        .single_question_wrapper{
                .question_line{
                    display: inline-block;
                    font-family:'lato';
                    font-size:17px;
                    width:90%
                }
                  .answer_line{
                    display: inline-block;
                    font-size:15px;
                    font-family:'lato';
                    letter-spacing: 0.5;
                    text-align: justify;
                    width:80%;
                    color:#818181
                  }
                  .arrow {
                    border: solid #827e87;
                    border-width: 0 3px 3px 0;
                    display: inline-block;
                    padding: 3px;
                  }
                  .up_arrow {
                    transform: rotate(-45deg);
                    -webkit-transform: rotate(-135deg);
                    cursor: pointer; 
              }
              
              .down_arrow {
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                cursor: pointer;
              }

        }
    }
}

@media only screen and (max-width: 600px){
    .airport_service_page_wrapper{
        margin: 50px 0px 0px 0px;
    .servicePage_hero_section{
        .hero_content_wrapper{
            top: 18%;
            left: 50%;
            width: 100%;
            .hero_title{
            font-size:22px;
            }
        }
    }
  
    .airport_content_section{
        margin:20px 0px 0px 0px;
        padding:0;
        .airport_title{
            margin:0;
        }
        .airport_description{
            padding: 10px 0px;
            font-size:17px
        }
       
    }
    .service_title{
      margin:10px 0 0 0;
    }
    
    .login_section{
      margin:40px 0 0 0;
      display:block;
      text-align: center;
        .login_line{
          font-size: 18px;
        }
    }
    .how_airport_works_section{
        .how_pickup_works_headline{
            font-size:18px;
        }
    .single_step_section{
        .step_heading{
            font-size:18px;
            margin:0;
        }
        img{
          margin:10px 0 0 0;
        }
        .step_description{
            margin:10px 0;
            font-size:16px;
        }
    }
    }

    .car_section_headline{
        font-size:20px;
        font-family: $lato_font;
        margin: 40px 0px 10px 0px; 
    }
    .car_section{
        display: flex;
        .single_car_section{
            img{
                width:30%
            }
            .car_name{
                font-family: $lato_font;
                font-size:17px;
                margin:10px 0;
            }
            .car_quality{
                font-family: $lato_font;
                font-size:14px;
            }
        }
    }


    .faq_section{
            margin:20px 0px 0px 0px;
            .single_question_wrapper{
                .question_line{
                    font-size: 19px;
                }
                  .answer_line{
                    width:95%;
                    font-size: 17px;
                  }
                
        }
    }
}
}
        
    