.booking_form_wrapper{
    margin: 100px 0;
    .form_wrapper{
        padding: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #F5F6F6;
        border-radius: 6px;
        box-shadow: 0 3px 3px lightgrey;
        h1{
            font-weight: bold;
        }
        .field_wrapper{
            margin-bottom: 25px;
            input{
                width: 70%;
                padding: 10px;
                border: 1px solid !important;
                outline: none !important;
                border-radius: 4px;
                height: 40px;
            }
            select {
                display: block;
                height: 40px;
                width: 70%;
            }
            label {
                font-family: $lato_font;
            }
            .gender_wrapper{
                display: flex;
                div{
                    margin: 0 20px 0 0;
                    border: 1px solid;
                    padding: 4px 20px;
                    border-radius: 50px;
                    background-color: #FFF;
                    cursor: pointer;
                }
                .selected_gender {
                    background-color:#35b0ab;
                    color: #FFF;
                }
            }
            .contact_field_wrapper {
                display: flex;
                width: 100%;
                select, input {
                    width: 35%;
                }
            }
        }
        button {
            outline: none !important;
            border: none !important;
            background-color: #f41950 !important;
            font-weight: 600;
        }
    }

    .selected_property_details_wrapper {
        background-color: #35b0ab;
        padding: 3rem;
        border-radius: 6px;
        .single_detail_wrapper {
            color: #FFF;
            margin: 0 0 26px 0;
            .detail_key {
                font-weight: 600;
                font-family: $lato_font;
                font-size: 20px;
            }
            .detail_value {
                font-family: $roboto_font;
                font-size: 18px;
            }
        }
    }

    @media only screen and (max-width: 600px) {
        .form_wrapper {
            padding: 10px;
            .field_wrapper {
                input {
                    width: 100%;
                }
                select{
                    width: 100%;
                }
            }
        }
        .selected_property_details_wrapper {
            display: none;
        }
    }
}