.city_listing_page {
  .banner_image{
      width:100%;
      height: 500px;
  }
    .single_filter_category_wrapper {
        margin: 20px 0 16px 0;
        padding: 10px 0px;
        p {
            font-weight: 600;
            font-family: $lato_font;
            margin: 0 0 6px 0;
        }
        label {
            font-family: $lato_font;
        }
        input {
            margin: 4px 4px 0 0;
        }
    }

    .listing_page_headline {
        margin: 30px 0 20px 0;
        font-size: 20px;
        font-family: $lato_font;
        line-height: 26px;
    }

    .property_listing_wrapper {
        padding: 15px;
        .property_filter_wrapper{
        .property_listing_headline {
            margin:0;
            font-family: $lato_font;
            font-size: 18px;
            letter-spacing: 0.4px;
            span{
                font-weight: bold;
            }
        }
        .property_listing_second_headline {
            margin:0;
             font-family: $lato_font;
             font-size: 20px;
             letter-spacing: 0.4px;
             font-weight: bold;
         }
       
         .covid_policy_wrapper{
             margin:0 0 20px 0;
             .policy_check_line{
                font-weight: 600;
                font-family: "Lato", serif;
                font-size: 16px;
                margin: 10px 10px 0 0;
                letter-spacing: 0.4px; 
                display: inline-block;
             }
         .cancellation_policy{
            font-family: "Lato", serif;
            cursor: pointer;
            font-size: 15px;
            margin: 10px 0 0 0;
            text-decoration: underline;
            letter-spacing: 0.4px;
            display: inline-block;
        }
    }
    .policy_filter_wrapper{
        display: flex;
        justify-content: space-between;
        .policy_wrapper{
            position: fixed;
            top: 0;
            left: 0;
            z-index: 999;
            background-color: rgba(248, 248, 246, 0.95);
            overflow: hidden;
            width: 100vw;
            height: 100vh;
            .close_policy{
                position: absolute;
                top: 30px;
                right: 57px;
                cursor: pointer;
                font-size: 30px;
                font-weight: 900;
            }
                .policy_content_wrapper{
                    padding: 50px;
                    position: fixed;
                    top: 50%;
                    left: 50%;
                    background-color: #FFF;
                    width: 80%;
                    height: 80%;
                    overflow: auto;
                    transform: translate(-50%, -50%);
                    border-radius: 4px;
                    box-shadow: 0 4px 4px lightgrey;
                    font-family: "Lato", serif;
                    .policy_title{
                        font-size: 22px;
                        color:$light_pink;
                        text-align: justify;
                        font-weight: 600;
                    }
                    .policy_content{
                        font-size: 16px;
                        line-height: 27px;
                        text-align: justify;
                    }
                li{
                    font-size: 16px;
                    text-align: justify;
                    list-style-type: none;
                    margin: 0 0 16px 0;
                    font-weight: 600;
                }
                .policy_terms{
                    font-size: 16px;
                    opacity: 0.7;
                    line-height: 27px;
                    text-align: justify;
                }
             }
               
        }
        .filter_options_wrapper{
            display: flex;
            img{
                height: 20px;
               margin:0 0 20px 10px;
               cursor: pointer;
            }
            .filter_option{
                font-size:15px;
                font-family: $lato_font
            }
            .filter_popup_wrapper{
                position: fixed;
                top: 0;
                left: 0;
                z-index: 999;
                background-color: rgba(248, 248, 246, 0.95);
                overflow: hidden;
                width: 100vw;
                height: 100vh;
                .filters_wrapper{
                    padding: 50px;
                    position: fixed;
                    top: 0;
                    right: 0;
                    background-color: #FFF;
                    width: 30%;
                    height: 100%;
                    overflow: auto;
                    border-radius: 4px;
                    box-shadow: 0 4px 4px lightgrey;
                    font-family: "Lato", serif;
                .close_filter{
                    position: absolute;
                    top: 30px;
                    right: 57px;
                    cursor: pointer;
                    font-size: 20px;
                    font-weight: 900;
                }
               
                .single_filter_type_wrapper{
                    display:inline-block;
                    margin:0 10px 10 0;
                }
            }
            }
            
        }
        
    }
        
     
    }
        .noproperty_errormessage{
            font-size: 23px;
            text-align: center;
            color: #f22550;
            font-weight: 600;
            font-style: italic;
            font-family: $lato_font;
        }
        .single_property_wrapper {
            background-color: #FFF;
            margin: 0 0 40px 0;
            height: 490px;
            box-shadow: 2px 2px 2px 2px lightgrey;
            border-radius: 10px;
            .property_description_image_wrapper {
                text-decoration: none !important;
                .property_image_wrapper {
                    display: block;
                    img {
                        width: 100%;
                        object-fit: cover;
                        height: 200px;
                        border-radius: 10px 10px 0 0;
                    }
                    .rating_wrapper {
                        border-radius: 10px 0 0 0;
                        span {
                            margin: 0 4px 0 0;
                        }
                        position: absolute;
                        top: 0;
                        background-color: #f1f1f1;
                        padding: 4px 14px;
                        font-weight: 600;
                        font-size: 16px;
                        font-family: $lato_font;
                    }
                }
                .property_config_wrapper {
                    position: relative;
                    display: block;
                    padding: 0 10px;
                    margin: 20px 0px 0px 0px;
                    a{
                        text-decoration: none;
                    .property_name {
                        margin: 0;
                        font-weight: 600;
                        font-family: $lato_font;
                        letter-spacing: 0.4px;
                        font-size: 18px;
                        text-decoration: none !important;
                        color: #000 !important;
                    }
                }
                    .property_offers {
                        margin: 10px 0 0 0;
                        text-decoration: none !important;
                        color: #000 !important;
                        background-color: #fdba49;
                        width: 100%;
                        .offer_title{
                            font-family: $lato_font;
                            font-size: 15px;
                            margin:0;
                            padding: 5px;
                            text-align: center;
                        }
                      
                    }
                    .room_type_wrapper{
                        display: flex;
                        .room_name{
                            font-size: 15px;
                            font-family: $lato_font;
                            margin:0 10px 0 0;
                            text-decoration: none !important;
                            color:$light_pink !important;
                            font-weight: bold;
                        }
                    }
                 
                    .distance  {
                        font-family: $lato_font;
                        bottom: 0;
                        text-decoration: none !important;
                        color: #000 !important;
                        margin:10px 0 0 0;
                    }
                }

                .price_amenity_wrapper {
                    width: 100%;
                    margin:10px 0 0 0;
                    .amenity_wrapper{
                    .amenities_headline {
                        text-decoration: none !important;
                        color: #000 !important;
                        font-family: $lato_font;
                        letter-spacing: 0.4px;
                        margin: 0;
                    }
                    img {
                        width: 5%;
                        margin: 0 10px 10px 0;
                    }
                }
                    .room_starting_price {
                        margin: 10px 0 0 0;
                        font-family: $lato_font;
                        font-size: 16px;
                        text-decoration: none !important;
                        color: #000 !important;
                        span {
                            font-size: 18px;
                            text-decoration: none !important;
                            font-weight: bold;
                        }
                    }
                    .button_wrapper{
                        padding:0 0 20px 0;
                    .redirect_button {
                        outline: none !important;
                        border: 2px solid $blue !important;
                        background-color: $blue !important;
                        font-weight: 600;
                        margin: 20px 0 0 0;
                        border-radius: 0 !important;
                        padding: 10px 16px;
                        color:white
                    }
                    .enquire_button {
                        outline: none !important;
                        border: 2px solid $blue !important;
                        background-color: #FFF !important;
                        font-weight: 600;
                        color: $blue;
                        margin: 20px 10px 0 0;
                        border-radius: 0 !important;
                        padding: 10px 16px;
                    }
                }
                }
         
            }
      
        }
    }

    .pagination_wrapper {
        text-align: center;
       .load_more_button{
        outline: none !important;
        border: 2px solid #002366 !important;
        background-color: #FFF !important;
        font-weight: 600;
        color: #002366;
        border-radius: 0 !important;
        padding: 12px 30px;
        font-size:15px;
        font-family: $lato_font;
       }
       .diasbled_button{
        cursor: not-allowed
    }
    }

    .city_details_wrapper {
        margin: 60px 0 0 0;
        .leads_generation_form_wrapper {
            margin: 40px auto 80px auto;
            width: 80%;
            align-items: center;
            justify-content: center;
            display: flex;
            background-color: #F5F6F6;
            padding: 25px;
        }
        .city_image_wrapper {
            height: 400px;
            img {
                width: 100%;
                height: 400px;
                object-fit: cover;
            }
        }
        .city_description_headline {
            font-family: $lato_font;
            font-weight: 600;
            letter-spacing: 0.4px;
            font-size: 26px;
            margin: 45px 0 4px 0;
            p, div, span, h1, h2, h3, h4, h5, h6, b {
                font-family: $lato_font !important;
                p, div, span {
                    font-family: $lato_font !important;
                }
            }
        }
        .city_details {
            font-family: $lato_font;
            p, div, span a, h1, h2 h3, h4 h5, h6 {
                font-family: $lato_font !important;
                font-size: 17px !important;
            }
        }
        .collapsedHeight {
            font-size: 13px;
            height: 90px;
            margin-bottom: 0;
            overflow-y: hidden;
            text-align: justify;
            @media screen and (max-width: 600px) {
              height: 104px;
              margin: 0;
            }
          }
          .expandedHeight {
            font-size: 13px;
            height: auto;
            text-align: justify;
            margin-bottom: 0;
          }
    
    h6 {
        color: $light_pink;
        font-weight: 600;
        font-family: $lato_font;
        letter-spacing: 0.5px;
        font-size: 17px;
        width: fit-content;
        cursor: pointer;
        margin: 20px 0 0 0;
        @media screen and (max-width: 600px) {
            margin: 20px 0;
          }
    }
    }

    @media only screen and (max-width: 600px) {
        margin:40px 0px 0px 0px;
        .listing_page_headline {
            font-size: 16px;
        }
        
        .property_listing_wrapper {
            padding:0;
            .property_filter_wrapper{
                padding: 0;
            .property_listing_headline {
                margin:0;
                font-size: 16px;
               
            }
            .policy_filter_wrapper{
                display: block;
                .covid_policy_wrapper{
                    margin: 0 0 10px 0;
                    .policy_check_line{
                        margin:0
                    }
                }
                .filter_options_wrapper{
                    .filter_option{
                        font-size: 17px;
                    }
                    .filter_popup_wrapper{
                        .filters_wrapper{
                            width:100%
                        }
                    }
                }
                .policy_wrapper{
                        .close_policy{
                            font-size: 22px;
                            right: 35px;
                        }
                        .policy_content_wrapper{
                        width:100%;
                    }
                        
                    
                }
            }
            }
            
        
            .single_property_wrapper {
                height: auto;
                .property_description_image_wrapper {
                    width: 100%;
                    position: relative;
                    display: block;
                    height: auto;
                    .property_image_wrapper {
                        width: 100%;
                        display: block;
                        height: auto;
                        img {
                            height: auto;
                            width: 100%;
                        }
                    }
                    .property_config_wrapper {
                        position: unset;
                        width: 100%;
                        display: block;
                        padding: 0px 10px;
                        border-right: 0;
                        height: auto;
                        .property_name {
                            font-size: 20px;
                            margin: 14px 0 4px 0;
                        }
                        .room_type_wrapper{
                            .room_name{
                                font-size: 16px;
                            }
                        }
                        .distance {
                            margin:5px 0 0 0;
                            font-size: 16px;
                        }
                    }
                    .price_amenity_wrapper {
                        width: 100%;
                        display: block;
                        position: unset;
                        padding: 0;
                        height: auto;
                        .amenities_headline {
                            margin: 0;
                        }
                        img {
                            width: 7%;
                            margin: 0 16px 16px 0;
                        }
                        .room_starting_price {
                            margin: 8px 0 0 0;
                        }
                        .redirect_button {
                           width: 100%;
                            margin: 30px 0 0 0;
                        }
                        .enquire_button {
                            width: 100%;
                        }
                    }
                }
            }
        } 
     
        .city_details_wrapper {
            .leads_generation_form_wrapper {
                margin: 0;
                width: 100%;
                padding: 15px;
            }
        }
    }
}