.contact_page {
    label {
        font-family: $lato_font;
        letter-spacing: 0.5px;
        font-size: 14px;
        margin: 0 0 4px 0;
        display: block;
    }
    .form_and_contact_details_wrapper {
        position: relative;
        background-color: #000;
        .contact_banner {
            width: 100%;
            opacity: 0.6;
            object-fit: cover;
        }
        .contact_details_wrapper {
             position: absolute;
            top: 20%;
             left: 35px;
             width: 50%;
             padding: 15px;
             background-color: #fff;
             border-radius: 6px;
             font-family: $lato_font;
             letter-spacing: 0.5px;
            .contact_details_headline {
                font-weight: 600;
                text-align: center;
                font-size: 22px;
            }
            .single_country_address {
                display: inline-block;
                width: 48%;
                background-color: #f5f6f6;
                margin: 0 5px;
                padding: 20px;
                word-break: break-word;
                text-align: center;
                img {
                    width: 100%;
                    height: 130px;
                }
                .country_name {
                    font-weight: 600;
                    font-size: 18px;
                }
                .mobile_number, 
                .whatsapp_number {
                    img {
                        width: 25px;
                        height: 15px;
                    }
                }
            }
        }


        .form_wrapper {
            position: absolute;
            top: 10%;
            right: 35px;
            width: 40%;
            background-color: #F5F6F6;
            padding: 20px;
            border-radius: 6px;
            p {
                font-family: $lato_font;
                font-weight: 600;
                margin: 0 0 14px 0;
                font-size: 18px;
            }
            form {
                .single_field_wrepper {
                    margin: 0 0 20px 0;
                    input {
                        height: 35px;
                        width: 100%;
                        border: 1px solid;
                        border-radius: 4px;
                        padding: 0 8px;
                    }
                    textarea {
                        height: 85px;
                        width: 100%;
                        border: 1px solid;
                        border-radius: 4px;
                        resize: none;
                        padding: 8px;
                    }
                    .contact_number_wrapper {
                        display: flex;
                        width: 100%;
                    }
                }
                button {
                    outline: none !important;
                    border: none !important;
                    background-color: $light_pink !important;
                    font-weight: 600;
                    font-family: $lato_font;
                    letter-spacing: 0.5px;
                }
            }
        }
    }

    @media only screen and(max-width: 600px) {
        
        label {
            font-size: 12px;
        }
        .form_and_contact_details_wrapper {
            background-color: #fff;
            margin:90px 0px 0px 0px;
            .contact_banner {
                display: none;
            }
            position: unset;
            .contact_details_wrapper {
                position: unset;
                width: 100%;
                .single_country_address {
                    width: 100%;
                    display: block;
                    margin: 0 0 10px 0;
                    padding: 10px;
                    img {
                        width: 25%;
                        height: 70px;
                    }
                }
            }
            .form_wrapper {
                position: unset;
                width: 100%;
            }
        }
    }
}