.dashboard_page_wrapper{
    margin:40px 0px 0px 0px;
    .sidebar_wrapper{
      box-shadow: 2px 2px 2px 2px lightgrey;
     height: 350px;
     padding: 20px 0px;
     .new_booking_wrapper{
        background-color: #f1f1f1;
        margin: 20px;
        border-radius: 8px;
        height: 70px;
        display:flex;
        padding:10px;
        p{
          font-size: 15px;
          margin:0px 40px 0px 20px;
          cursor: pointer;
        }
        img{
          width:17%;
          cursor: pointer;
        }
     }
     .option_wrapper{
       .single_option_wrapper{
         display: flex;
         padding: 0px 20px;
         img{
           width:20%;
           cursor: pointer;
         }
         p{
           margin:10px 0px 0px 0px;
           cursor: pointer;
         }
       }
     }
    
   
        }
        .bookings_wrapper{
          .overview_title{
            font-size:17px;
          }
          .overview_wrapper{
            display: flex;
            margin:0px 0px 20px 0px;
            .single_overview_wrapper{
              background-color: #f5f6f6;
              display: flex;
              margin: 0px 20px 0px 0px;
              padding:5px 20px;
              align-items: center;
              border-radius: 8px;
              img{
                margin:0px 10px 0px 0px;  
                cursor: pointer;
              }
              p{
                font-size:17px;
                margin: 3px 0px 0px 0px;
                cursor: pointer;
              }
            }
          }
          .booking_wrapper_title{
            background-color: #F5F6F6;
            border-radius: 8px;
            padding: 30px 30px 0px 30px;
            display:flex; 
            justify-content: space-between;
          .booking_headline_title{
          .bookings_title{
            font-size:20px;
            font-weight: bold;
            font-family: $lato_font;
          }
          .bookings_sub_title{
            font-size:15px;
            font-family: $lato_font;
          }
        }
        img{
          width:20%;
        }
        }
        .bookings_main_wrapper{
          margin: 30px 0px 0px 0px;
          .single_bookings_main_wrapper{
            background-color: #f5f6f6;
            padding:30px;
            display: flex;
            .image_wrapper{
              width:30%;
              margin:0px 30px 0px 0px;
            img{
            width:100%
          }
        }
        .content_wrapper{
          width: 40%;
          border-right: 2px solid #EAEAEA;
          p {
            &:first-child {
              font-weight: bold;
              font-size: 17px;
              margin: 0;
              font-family: $lato_font;
            }
    
            &:nth-child(2){
              font-size: 15px;
              margin: 0;
              font-family: $lato_font;
            }
            &:nth-child(4){
              margin:10px 0px 0px 0px
            }
            &:nth-child(5){
              margin:10px 0px 0px 0px
            }
            &:nth-child(6){
              margin:10px 0px 0px 0px
            }

          }
        }
        .edit_delete_section{
          width: 30%;
          display:flex;
          .status_section{
            margin: 0px 0px 0px 20px;
            p{
              font-size:15px;
              font-family: $lato_font;
            }
          }
          .delete_edit_icon_section{
            display:flex;
            text-align: right;
            margin: 150px 5px 0px 0px;
            img{
              width:30%;
              margin:0px 0px 0px 20px;
              cursor: pointer;
            }
          }
        }
        }
        }
      }
        
        .password_wrapper{
          margin: 10px 0px 0px 0px; 
          background-color: #f5f6f6;
          padding: 30px;
          .reset_heading{
            font-size:17px;
            font-family: $lato_font;
          }
        .password_content_wrapper{
          margin: 10px 0px 0px 20px;
          background-color: white;
          box-shadow: 2px 2px 2px 2px lightgrey;
          padding: 30px;
          label{
            margin: 20px 0px 10px 0px;
          }
          input, select {
            display: block;
            height: 40px;
            border-radius: 4px;
            border: 1px solid;
            width: 60%;
            padding: 0 8px;
            background-color: #FFF;
          }
          .buttons_wrapper{
          .pink_button{
            padding: 8px 15px;
            background-color: $light_pink !important;
            color: white;
            outline: none !important;
            border: 2px solid $light_pink !important;
            border-radius: 0;
            font-family: $lato_font;
            margin: 20px 20px 0px 0px;
            font-size: 15px;
            font-weight: 600;
            letter-spacing: 0.5px;
        }
        }
      } 
      }
      .personal_information_section{
        .personal_information_wrapper{
          background-color: #F5F6F6;
          padding:30px;
          p{
            font-size: 17px;
            font-family: $lato_font;
          }
          .personal_details_section{
            background-color:white;
            box-shadow: 2px 2px 2px 2px lightgrey;
            padding:20px;
          p{
            font-size: 15px;
            font-weight: bold;
            font-family: $lato_font;
            .user_information_span{
              font-size: 15px;
              font-weight: 100;
              font-family: $lato_font;
            }
            .user_image_span{
              float: right;
            margin-right: 300px;
            }
          }
        }
        .edit_contact{
            background-color: white;
            box-shadow: 2px 2px 2px 2px lightgrey;
            padding: 20px;
            margin:10px 0px;
          .contact_form{ 
            .single_field_wrepper {
              margin: 0 0 20px 0;
              input {
                  height: 35px;
                  width: 40%;
                  border: 1px solid;
                  border-radius: 4px;
                  padding: 0 8px;
              }
            }
            .contact_number_wrapper {
              display: flex;
              width: 100%;
          }
           button {
                  outline: none !important;
                  border: none !important;
                  background-color: $light_pink !important;
                  font-weight: 600;
                  font-family: $lato_font;
                  letter-spacing: 0.5px;
                  margin-right:30px;
              }
          }
        }
        }
      }
      .upload_document_section{
        background-color: #F5F6F6;
        padding:30px;
        .upload_document_wrapper{
          background-color:white;
          box-shadow: 2px 2px 2px 2px lightgrey;
          padding:20px;
          .upload_document_title{
            font-size:18px
          }
          .instruction{
            color:$light_pink;
            font-size:15px
          }
          .image_wrapper{
            text-align: right;
            img{
              &:first-child{

              }
              &:nth-child(2){
                width:4%
              }
            }
          }
          .attach_file_wrapper{
            display: flex;
            button{
              padding: 8px 25px;
              outline: none !important;
              border-radius: 5px;
              border: none !important;
              font-weight: 600;
            }
          }
          .table_wrapper{
            margin:20px 0px 0px 0px;
          table{
            border: 1px solid black;
            width:100%;
            tr{
            th{
              border: 1px solid #f1f1f1;
              padding: 8px 20px;
              color:white;
              background-color:grey;
              font-weight: 100;
            }
          }
          }
        }
        }
      }
}
@media only screen and(max-width: 600px) {
 .dashboard_page_wrapper{
  margin:80px 0px 40px 0px;
  overflow: hidden;
  .sidebar_wrapper{
    height: 450px;
   
  }
  .password_wrapper{
    .password_content_wrapper{
      label{
        margin:20px 0px 10px 0px;
        font-size: 15px;
      }
      input{
        width:100%
      }
      .buttons_wrapper{
        text-align: center;
      }
    }
  }
 }
}