.education_loan_page_wrapper{
    .education_loan_hero_section{
        .education_loan_hero_image_wrapper{
            background-color: black;
        }
        img{
            width: 100%;
            opacity: 0.7;
        }
    }
    .education_loan_content_section{
        margin:40px 0px 0px 0px;
        padding:40px 20px;
        .education_loan_title{
            font-size:22px;
            font-family: 'lato';
            font-weight: bold;
        }
        .education_loan_description{
            font-size:16px;
            text-align: justify;
            font-family: 'lato';
        }
    }

   
    .contact_form{
        margin:60px auto 0px auto;
        box-shadow: 2px 2px 2px 2px lightgrey;
        padding: 30px;
        background-color: #f1f1f1;
        border-radius: 6px;
        .form_title{
            text-align: center;
            font-size: 22px;
            margin:0px 0px 20px 0px ;
            font-family: 'lato';
        }
       
    }
    .education_loan_calculator{
        box-shadow: 2px 2px 2px 2px lightgrey;
        padding: 30px;
        margin: 20px 0px 0px 0px;
        .calculator_title{
            font-size:20px;
        }
        .calculator_button{
            padding:8px 25px;
            background-color:#827e87;
            color:white;
            outline:none;
            border:none;
            font-size: 17px;
            font-family: 'lato';
            margin:10px 20px 0px 0px;
        }
        .eligibility_emi_calculator{
            margin:30px 0px 0px 0px;
            .single_input_wrapper{
            p{
                font-size: 17px;
                font-weight: bold;
                display: inline-block;
                width:30%;
                font-family: 'lato';
            }
            .slider_field{
                display:inline-block;
                width:55%
            }
            .number_field{
                display: inline-block;
                width:10%;
                margin: 0px 0px 0px 20px;
                box-shadow: none !important;
                font-family: 'lato';
                background-color: white;
            }
        }
        .caluclated_amount_line{
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            padding: 20px 5px;
            width: 40%;
            justify-content: center;
            margin: 0 auto;
            font-style: italic;
        }
        .buttons_wrapper{
            display:flex;
            justify-content: center;
            margin:20px 0px;
            .submit_button{
                outline: none !important;
                border: none !important;
                background-color: #827e87 !important;
                font-family: "Lato", serif;
                letter-spacing: 0.5px;
                border-radius: 0;
                display: block;
                padding: 8px 34px;
                font-weight: 600;
                font-size: 16px;
                margin: 0px 40px 0px 0px;
                color:white
            }
            .reset_button{
                outline: none !important;
                background-color: white !important;
                font-family: "Lato", serif;
                letter-spacing: 0.5px;
                border-radius: 0;
                display: block;
                padding: 8px 34px;
                font-weight: 600;
                font-size: 16px;
                
            }
        }
        }
    }
 
}

@media only screen and (max-width: 600px) {
    .education_loan_page_wrapper{
       
        .education_loan_content_section{
            margin:30px 0px 0px 0px;
            padding:0;
            .education_loan_title{
                font-size:22px;
            }
            .education_loan_description{
                font-size:17px;
            }
        }
        .contact_form{
            width:100%;
            margin:40px auto 0px auto;
          
        }
    }

}