.homepage {
    .suggestions_list_wrapper {
        width: 80% !important;
        top: 45%;
    }

    .section_headline {
        text-align: center;
        font-size: 28px;
        margin: 0 0 28px 0;
        letter-spacing: 0.5px;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        color:black
    }

    .homepage_hero_section {
        position: relative;
        .website_logo {
            position: absolute;
            width: 10%;
            top: 5%;
            left: 5%;
        }
        .hero_image_wrapper {
            width: 100%;
            height: 100vh;
            background-color: #000;
            overflow: hidden;
            img {
                object-fit: cover;
                width: 100%;
                opacity: 0.8;
                height: 100vh;
            }
        }
        .hero_quotation_wrapper {
            position: absolute;
            left: 10%;
            bottom: 30%;
            h1 {
                color: #fff;
                font-weight: 600;
                font-size: 38px;
                font-family: Roboto,sans-serif;
                letter-spacing: 1.5px;
                padding: 0;
                margin: 0 0 14px 0;
                text-align: center;
            }
            .offer_showcase_wrapper {
                margin: 18px 0 0 0;
                width: fit-content;
                position: relative;
                left: 12%;
                .single_offer_wrapper {
                    width: 35%;
                    margin: 10px;
                    display: inline-block;
                    img {
                        display: inline-block;
                        height: 30px;
                        width: 30px;
                    }
                    p {
                        display: inline-block;
                        margin: 0 0 0 16px;
                        color: #FFF;
                        font-weight: 600;
                        font-family: $lato_font;
                        font-size: 16px;
                        letter-spacing: 0.8px;
                    }
                }
            }
        }
        .content_banner {
            position: absolute;
            bottom: 0;
            padding: 22px 250px;
            text-align: center;
            background-color: #F1F1F1;
            color: #000;
            font-family: "Lato", serif;
            letter-spacing: 0.6px;
            font-size: 18px;
            width: 100%;
            left: 0;
        }
    }

    .usp_section_wrapper {
        padding: 70px 0 0 0;
        .single_usp_wrapper {
            display: flex;
            margin: 0 0 56px 0;
            img {
                width: 15%;
                height: 15%;
            }
            .usp_explanation {
                padding: 0 15px;
                p {
                    &:first-child {
                        font-weight: 600;
                        font-family: 'Lato', sans-serif;                        
                        letter-spacing: 0.5px;
                        margin: 12px 0 6px 0;
                        font-size: 18px;
                    }
                    &:nth-child(2) {
                        width: 85%;
                        font-family: $lato_font;
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .top_cities {
        padding: 70px 0;
        background-color: #F5F6F6;
        .top_cities_wrapper_desktop {
            padding: 0 100px;
            width: 100%;
            display: flex;
            .column_wrapper {
                width: 50%;
                margin: 10px;
                .top_line_city {
                    .single_city_wrapper {
                        box-shadow: 0 4px 4px lightgray;
                      //  transition: 1s ease;
                        img {
                            width: 100%;
                            border-radius: 10px 10px 0 0;
                        }
                        .city_name_and_country {
                            padding: 25px;
                            background-color: #fff;
                            border-radius: 0 0 10px 10px;
                            p {
                                &:first-child {
                                    margin: 0 0 8px 0;
                                    font-weight: 600;
                                    font-size: 20px;
                                    font-family: 'Roboto', sans-serif;
                                    letter-spacing: 0.3px;
                                    color: #000;
                                }
                                &:nth-child(2) {
                                    letter-spacing: 0.4px;
                                    margin: 0;
                                    font-size: 16px;
                                    font-family: 'Lato', sans-serif;
                                    color: #6b5353;
                                }
                            }
                        }
                        //  &:hover{
                        //     -webkit-transform: scale(0.5);
                        //     -ms-transform: scale(0.5);
                        //     transform: scale(0.5);
                        //     transition: 0.5s ease;
                        //  }
                    }
                    .large_box {
                        width: 100%;
                        img {
                            height: 310px;
                            object-fit: cover;
                        }
                    }
                }
                .bottom_line_city {
                    display: flex;
                    .single_city_wrapper {
                        box-shadow: 0 4px 4px lightgray;
                        width: 100%;
                        img {
                            width: 100%;
                            border-radius: 10px 10px 0 0;
                        }
                        .city_name_and_country {
                            padding: 25px;
                            background-color: #fff;
                            border-radius: 0 0 10px 10px;
                            p {
                                &:first-child {
                                    margin: 0 0 8px 0;
                                    font-weight: 600;
                                    font-size: 20px;
                                    font-family: 'Roboto', sans-serif;
                                    letter-spacing: 0.3px;
                                    color: #000;
                                }
                                &:nth-child(2) {
                                    letter-spacing: 0.4px;
                                    margin: 0;
                                    font-size: 16px;
                                    font-family: 'Lato', sans-serif;
                                    color: #6b5353;
                                }
                            }
                        }
                        // &:hover{

                        //     height: auto;
                        //     -webkit-transition: .3s ease-in-out;
                        //     transition: .3s ease-in-out;
                        // }
                    }
                    .small_box {
                        img {
                            height: 200px;
                            object-fit: cover;
                            border-radius: 10px 10px 0 0;
                        }
                    }
                }
            }
        }
    }

    .top_properties {
        margin: 70px 0;
        .single_property_wrapper {
            box-shadow: 2px 2px 2px 2px lightgrey;
            margin: 0 0 25px 0;
            position: relative;
            img {
                width: 100%;
                height: 150px;
            }
            .property_description_wrapper {
                padding: 10px;
                background-color: #fff;
                .rating_wrapper {
                    span {
                        margin: 0 4px 0 0;
                    }
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: $blue;
                    color: #FFF;
                    padding: 4px 14px;
                    font-weight: 600;
                    font-size: 16px;
                    font-family: $lato_font;
                }
                .property_name {
                    margin: 0;
                    font-weight: 600;
                    font-size: 18px;
                    font-family: $lato_font;
                    letter-spacing: 0.3px;
                    color: $black !important;
                }
                .property_place {
                    color: grey;
                    letter-spacing: 0.4px;
                    margin: 0;
                    font-size: 16px;
                    font-family: 'Lato', sans-serif;
                }
                .property_min_price {
                    margin: 10px 0 0 0;
                    font-family: 'Lato', sans-serif;
                    color: $black;
                    span {
                        color: #000;
                        font-weight: 600;
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .inspection_section {
        background-color: #F1F1F1;
        padding: 50px 0;
        .single_inspection_wrapper {
            background-color: #FFF;
            padding: 15px;
            height: 340px;
            box-shadow: 0 4px 4px lightgrey;
            border-radius: 6px;
            img {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
                width: 75%;
            }
            .inspection_headline {
                margin: 4px 0 6px 0;
                font-weight: 600;
                font-family: $lato_font;
                font-size: 16px;
                letter-spacing: 0.5px;
                color: #000;
            }
            .inspection_description {
                font-family: $lato_font;
                font-size: 15px;
                color: #818181;
                margin: 0;
            }
        }
    }

    .homepage_vas_section {
        padding: 30px 0 60px 0 ;
        background-color: $blue;
        .section_headline {
            color: #FFF !important;
        }
        .single_vas_wrapper {
            text-align: center;
            margin: 0 0 20px 0;
            border-radius: 4px;
            img {
                width: 25%;
            }
            p {
                margin: 10px 0 0;
                text-transform: uppercase;
                font-weight: 600;
                font-family: $lato_font;
                letter-spacing: 1px;
                font-size: 16px;
            }
        }
        .different_box {
            background-color: #F6F6F6;
            height: 340px;
            padding: 100px 0;
        }
        .similar_box {
            background-color: #F6F6F6;
            padding: 19px 0;
        }
    }

    .testimonial_section {
        padding: 50px 0;
        .background_div {
            background-color: #969da5;
            color: #FFF;
            padding: 90px 40px 40px 40px;
            position: relative;
            height: 430px;
        }
        .all_testimonials_wrapper {
            display: flex;
            position: absolute;
            left: 0;
            top: 35%;
            .single_testimonial_wrapper {
                width: 100%;
                margin: 10px;
                .reviewer_image {
                    height: 190px;
                    overflow: hidden;
                    img {
                        width: 100%;
                    }
                }
                .reviewer_name_and_review {
                    padding: 12px;
                    background-color: #F5F6F6;
                    color: #000;
                    border-radius: 0 0 3px 3px;
                    box-shadow: 0 2px 4px lightgrey;
                    height: 270px;
                    p {
                        &:first-child {
                            font-family: $roboto_font;
                            font-weight: 600;
                            font-size: 18px;
                            letter-spacing: 0.5px;
                        }
                        &:nth-child(2) {
                            font-family: $lato_font;
                            font-weight: 600;
                            font-size: 16px;
                            letter-spacing: 0.5px;
                            color: #818181;
                        }
                        &:nth-child(3) {
                            font-family: $lato_font;
                            font-size: 14px;
                            margin: 0;
                            text-align: justify;
                            line-height: 20px;
                            letter-spacing: 0;
                        }
                    }
                }
            }
        }
    }

    .seo_content_section {
        margin: 180px 0 0 0;
        background-color: #F5F6F6;
        padding: 50px 0;
        div {
            font-size: 16px;
            font-family: $lato_font;
            text-align: justify;
        }
        h6 {
            font-weight: 600;
            font-size: 18px;
            font-family: $lato_font;
            margin: 22px 0 6px 0;
        }
        .collapse_expand_handler{
            font-size: 16px;
            font-family: $lato_font;
            cursor: pointer;
            font-weight: bold;
            margin:10px 0  0 0;
        }
    }

    @media only screen and (max-width: 600px) {
        margin: 80px 0 0 0;
        .suggestions_list_wrapper {
            width: 100% !important;
            position: unset;
        }

        .section_headline {
            font-size: 18px;
        }
        
        .homepage_hero_section {
            .website_logo {
                position: absolute;
                width: 15%;
            }
            .hero_image_wrapper {
                height: auto;
                img {
                    height: auto;
                }
            }
            .hero_quotation_wrapper {
                position: unset;
                margin: 5px;
                h1 {
                    text-align: center;
                    padding: 0;
                    font-size: 18px;
                    letter-spacing: 0.5px;
                    width: 100%;
                    margin: 0 0 10px 0;
                    color: #615d5d;
                }
                .offer_showcase_wrapper {
                    display: none;
                }
            }
            .content_banner {
                position: unset;
                font-size: 14px;
                padding: 12px;
                margin: 20px 0 0 0;
            }
        }

        .usp_section_wrapper {
            padding: 70px 0 30px 0;
            .single_usp_wrapper {
                margin: 0 0 40px 0;
                .usp_explanation {
                    p {
                        &:first-child {
                            font-size: 16px;
                            margin: 0 0 4px 0;
                        }
                        &:nth-child(2) {
                            font-size: 14px;
                            width: 100%;
                            margin: 0;
                        }
                    }
                }
            }
        }

        .top_cities  {
            padding: 40px 0;
            .cities_wrapper_mobile {
                overflow-x: scroll;
                overflow-y: hidden;
                white-space: nowrap;
                display: flex;
                width: 100%;
                padding: 0 15px;
                .single_city_wrapper_mobile {
                    position: relative;
                    width: 200px;
                    height: 140px;
                    overflow: hidden;
                    margin: 0 15px 0 0;
                    img {
                        width: 100%;
                        height: 140px;
                        object-fit: cover;
                    }
                    p {
                        color: #FFF;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        font-weight: 600;
                        margin: 0;
                        font-size: 18px;
                        text-transform: uppercase;
                        background-color: rgba(0,0,0,0.5);
                        width: 100%;
                        padding: 4px 15px;
                        font-family: $lato_font;
                    }
                }
            }
        }

        .top_properties {
            margin: 40px 0;
            .properties_wrapper_mobile {
                overflow-x: scroll;
                overflow-y: hidden;
                white-space: nowrap;
                display: flex;
                width: 100%;
                padding: 0 15px;
                .single_property_wrapper_mobile {
                    position: relative;
                    width: 275px;
                    height: 130px;
                    overflow: hidden;
                    margin: 0 15px 0 0;
                    display: flex;
                    border: 1px solid #CCC;
                    box-shadow: 0 4px 4px lightgrey;
                    .image_wrapper {
                        width: 100px;
                        height: 130px;
                        img {
                            width: 100%;
                            object-fit: cover;
                            height: 130px;
                        }
                    }
                    .description_wrapper {
                        width: 175px;
                        padding: 12px;
                        p {
                            font-family: $lato_font;
                            &:first-child {
                                margin: 0;
                                color: #000;
                                span {
                                    color: $blue;
                                }
                            }
                            &:nth-child(2) {
                                margin: 4px 0 2px 0;
                                color: #000;
                            }
                            &:nth-child(3) {
                                color: #818181;
                                margin: 0;
                            }
                            &:nth-child(4) {
                                margin: 14px 0 0 0;
                                color: #000;
                                span {
                                    color: #000;
                                    font-weight: 600;
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .inspection_section {
            .inspection_wrappers_mobile {
                overflow-x: scroll;
                overflow-y: hidden;
                display: flex;
                width: 100%;
                padding: 0 15px;
                .single_inspection_wrapper {
                    background-color: #FFF;
                    margin: 0 15px 0 0;
                    height: auto;
                    .image_wrapper {
                        background-color: #f9bebe;
                        img {
                            width: 50%;
                            margin: 0 auto;
                            display: flex;
                        }
                    }
                    .description_wrapper {
                        width: 200px;
                        padding: 10px;
                        .inspection_headline {
                            font-size: 14px;
                            width: fit-content;
                        }
                        .inspection_description {
                            font-size: 13px;
                        }
                    }
                }
            }
        }

        .homepage_vas_section {
            .different_box {
                height: 240px;
                padding: 80px 0;
            }
        }

        .testimonial_section {
            background-color: #F9Fafc;
            padding: 40px 0;
            .testimonials_wrapper_mobile {
                overflow-x: scroll;
                overflow-y: hidden;
                padding: 0 15px;
                display: flex;
                .single_testimonial_wrapper_mobile {
                    border: 1px solid #ccc;
                    margin: 0 15px 0 0;
                    width: 270px;
                    padding: 10px;
                    display: table;
                    background-color: #FFF;
                    border-radius: 4px;
                    box-shadow: 0 2px 2px lightgrey;
                    height: 325px;
                    p {
                        &:first-child {
                            font-size: 20px;
                            font-family: $lato_font;
                            color: $light_pink;
                        }
                        &:nth-child(2) {
                            font-weight: 600;
                            font-size: 16px;
                            color: $blue;
                        }
                        &:nth-child(3) {
                            text-align: justify;
                            width: 90%;
                            font-family: $lato_font;
                            line-height: 22px;
                        }
                    }
                }
            }
        }
        .seo_content_section {
            margin: 0;
          
        }
    
    }
}