.how_it_works_wrapper{
    .show_mobile{
        display: none;
    }
    .show_desktoo{
        display: block;
    }
    .how_it_works_heroSection{
    .hero_image_wrapper{
        overflow: hidden;
        background-color: black;
        img{
            object-fit: cover;
            opacity: 80%;
            width:100%
        }
    }
      
}
    
    .how_it_works_section{
        margin:20px 0px; 
        .main_content{
            margin:30px 0px 10px 0px;
            .main_content_title{
                text-align: center;
                font-size:30px;
                font-weight: bold;
                font-family: "Lato", serif;
            }
           
        .content_section{
            background-color: white;
            box-shadow: 2px 2px 2px 2px lightgrey;
            padding: 25px;
            margin: 70px 0px 0px 0px;
            .content_sub_section{
                display:flex;
                img{
                    width:15px;
                    height: 15px;
                    margin: 7px 10px 0px 0px;
                }
                .content_headline{
                    margin: 4px 0 6px 0;
                    font-weight: 600;
                    font-family: "Lato", serif;
                    font-size: 16px;
                    letter-spacing: 0.5px;
                    color: #000;
                }
            }
         
            .content_description{
                font-family: "Lato", serif;
                font-size: 15px;
                color: #818181;
                margin: 0;
            }
    }
    .image_section{
       text-align: center;
        img{
            width:70%
        }
    }
}
}
.ending_section{
    text-align: center;
    padding: 20px;
    margin:30px 0px 0px 0px;
    .ending_title{
        font-size:25px;
        margin:0px;
        font-family: 'lato';
        font-weight: bold;
    }
    .ending_subtitle{
        font-size:17px;
        font-family: 'lato';
    }

.query_wrapper {
    text-align: center;
    width: 65%;
    box-shadow: 0 4px 8px 6px lightgrey;
    padding: 10px 25px;
    margin: 5% 0 10% 18%;

    .query_heading{
      font-size: 30px;
      font-family: 'lato';
      margin: 5px 0px 22px 0px;
    }
    .email_section {
      background-color:#f1f1f1;
      border-radius: 12px;
      font-size: 16px;
      font-family: 'lato';
      padding: 10px;
      font-weight: bold;
    }

    .call_section {
      background-color:#f1f1f1;
      border-radius: 12px;
      font-size: 16px;
      font-family: 'lato';
      padding: 10px;
      font-weight: bold;
    }
  }
  .student_image_wrapper{
    .first_image{
        background-color: #f1f1f1;
        border-radius: 50%;
        width: 4%;
        margin-top: -270px;
        float: left;
        margin-left: 30px;
    }
    .second_image{
        background-color: #f1f1f1;
        border-radius: 50%;
        width: 4%;
        margin-top: -230px;
        float: left;
        margin-left: -40px;
    }
    .third_image{
        background-color: #f1f1f1;
        border-radius: 50%;
        width: 4%;
        margin-top: -170px;
        float: left;
        margin-left: 40px;
    }
    .fourth_image{
        background-color: #f1f1f1;
        border-radius: 50%;
        width: 4%;
        margin-top: -210px;
        float: right;
        margin-right: 90px;
        opacity: 0.5;
    }
    .fifth_image{
        background-color: #f1f1f1;
        border-radius: 50%;
        width: 4%;
        margin-top: -300px;
        
    }
    .sixth_image{
        background-color: #f1f1f1;
        border-radius: 50%;
        width: 4%;
        margin-top: -300px;
        float: right;
        margin-right: 0px;
    }
    .seventh_image{
        background-color: #f1f1f1;
        border-radius: 50%;
        width: 4%;
        margin-top: -170px;
        float: right;
        margin-left: 40px;
    }
}
}

}
@media only screen and (max-width: 600px){
    .how_it_works_wrapper{
        margin:50px 0px 0px 0px;
        .show_mobile{
            display: block;
        }
        .show_desktoo{
            display: none;
        }
        .how_it_works_heroSection{
            .hero_image_wrapper{
                img{
                   width:100%
                }
            }
              
        }
        .how_it_works_section{
            .main_content{
            .content_section{  
                margin:0;
                .content_sub_section{
                    .content_headline{
                        font-size: 17px;
                    }
                }
             
                .content_description{
                    font-size: 16px;
               
                 } }
        }
          
    }
    .ending_section{
        margin:10px 0px 0px 0px;
    .query_wrapper {
        width: 94%;
        margin: 6% 3% 9% 3%;
  
        .query_heading {
          margin: 3px 0px 15px 0px;
          font-size: 25px;
        }
  
        .email_section, .call_section {
          font-size: 15px;
  
        }
    }
      }
  
}
}