.landing_page_wrapper {
  overflow: hidden;
  margin: 75px 0px 90px 0px;

  .landingPage_hero_section {
    position: relative;

    .hero_image_wrapper {
      background-color: #000;
      overflow: hidden;

      img {
        object-fit: cover;
        width: 100%;
        opacity: 0.7;
        height: 800px;
      }
    }

    .content_wrapper {
      position: absolute;
      top: 50%;
      left: 25%;
      color: white;
      text-align: center;
      transform: translate(-50%, -50%);

      .content_title {
        font-size: 24px;
        font-weight: 900;
        margin: 0;
      }

      .content_details {
        font-size: 17px;
      }

      .offer_wrapper {
        background-color: #e03b58;
        border-radius: 12px;
        text-align: justify;
        padding: 7px;
        font-size: 17px;
        font-weight: bold;
        margin: 0 0 9px 0;
        width: 300px;
        display: flex;
        img {
          margin: 0 15px;
          width: 9%;
        }
        p {
          font-weight: 100;
          margin: 3px 0 0 0;
        }
      }

      .quality_content {

        font-size: 17px;
        list-style: none;
        line-height: 27px;
        text-align: justify;
        font-weight: 800;

        img {
          width: 7%;
          margin: 0px 6% 0px 0px;
        }

      }

    }

    .getintouch_wrapper {
      background-color: white;
      position: absolute;
      top: 5%;
      right: 3%;
      padding: 20px;
      border-radius: 6px;
      width: 45%;

      .getintouch_title {
        color: $blue;

        font-size: 25px;
        text-align: center;

      }
    }

  }

  .whyus_wrapper {
    .whyus_background {
      margin: 48px 0px 0px 0px;

      .whyus_title {
        font-size: 25px;
        text-align: center;
        color: $blue;
        font-weight: 900;

        margin: 0px
      }

      .whyus_subheading {
        text-align: center;
        font-size: 30px;
        color: $light_pink;
      }
    }

    img {
      width: 8%;
      position: absolute;
      left: 11%;
      top: 26%;
    }

    .whyus_description {
      box-shadow: 0 4px 8px 6px lightgrey;
      border-radius: 5px;
      padding: 20px;
      margin: 20px;
      background-color: #F5F6F6;
      .whyus_content {
        font-size: 20px;
        font-weight: bold;
        margin: 0 0 0 20%;
        color: $light_pink;

      }

      .content_description {
        font-size: 16px;
        margin: 1% 0px 0px 20%;
        color: $blue

      }
    }
  }

  .howweworks_wrapper {
    margin: auto;

    .howitworks_heading {
      font-size: 30px;
      font-weight: bold;
      color: $blue;
      text-align: center;
      margin: 55px 0 30px 0;

      span {
        color: $light_pink
      }
    }

    .image_wrapper {
      text-align: center;

      img {
        height: 200px;
        width: 200px;
      }
    }

    .howitworks_content {
      margin: 40px 0px 0px 0px;
      text-align: center;

      .howitworks_subheading {
        font-size: 25px;
        color: $blue;
        font-weight: bold;
      }

      hr {
        margin: 6px auto;
        border: 0;
        border-top: 1px solid #eee;
        background-color: $light_pink;
        width: 10%;
        height: 2px;
      }

      .howitworks_description {
        font-size: 16px;
        margin: 18px auto;
        padding: 0 30px;
        line-height: 25px;

      }
    }

    .howitworks_finish {
      text-align: center;

      .finish_heading {
        font-size: 30px;
        color: $blue;
        font-weight: 900;
        margin: 50px 0 0 0;
        text-transform: uppercase;
      }

      .finish_subheading {
        font-size: 16px;
        color: $light_pink;
        text-transform: uppercase;
      }
    }
  }

  .query_wrapper {
    text-align: center;
    width: 65%;
    box-shadow: 0 4px 8px 6px lightgrey;
    padding: 10px 25px;
    margin: 3% 0 10% 18%;

    .query_heading {
      font-size: 30px;
      font-weight: 900;
      color: $blue;

      margin: 5px 0px 22px 0px;

    }

    .email_section {
      background-color: $light_pink;
      border-radius: 12px;
      color: white;
      font-size: 16px;
      padding: 20px;
      font-weight: bold;

    }

    .call_section {
      background-color: $blue;
      border-radius: 12px;
      color: white;
      font-size: 16px;
      padding: 20px;
      font-weight: bold;


    }
  }

  .getintouch_form {
    width: 50%;
    margin-left: 25%;

    .getintouch_title {
      color: $blue;

      font-size: 25px;
      text-align: center;

    }

    .leads_generation_form_component_wrapper {
      p {
        padding: 0px;
        font-size: 17px;
      }
    }

  }

}

@media only screen and (max-width: 600px) {
  .landing_page_wrapper {
    margin: 75px 0px 58px 0px;

    .landingPage_hero_section {

      .hero_image_wrapper {

        img {
          height: 80vh;
        }
      }

      .content_wrapper {
        top: 13%;
        padding: 0 20px;
        left: 22%;
        transform: translate(-50px, -50px);

        .content_title {
          font-size: 26px;
        }

        .content_details {
          font-size: 15px;
        }

        .offer_wrapper {
          font-size: 16px;
        }

        .quality_content {
          margin: 1% 0 0 0;
          line-height: 21px;
          font-size: 16px;
        }
      }

      .getintouch_wrapper {
        position: unset;
        width: 100%;

        .getintouch_title {
          font-size: 20px;
        }

      }
    }

    .whyus_wrapper {
      img {
        left: 15%;
        top: 13%;
      }

      .whyus_background {
        margin: 0px 0px 35px 0px;

        .whyus_title {
          font-size: 21px;
          line-height: 27px;

        }

        .whyus_subheading {
          margin: 5px 0px 17px 0px;
          font-size: 25px;
        }
      }

      .whyus_description {
        margin: -20px 20px 40px 20px;
        height: auto;

        .whyus_content {
          font-size: 20px;
        }

        .whyus_title {
          font-size: 21px;
        }

        .content_description {
          font-size: 15px;
        }
      }
    }

    .howweworks_wrapper {

      .image_wrapper {
        img {
          width: 56%;
        }
      }

      .howitworks_heading {
        margin: 0 0 20px 0;
        font-size: 30px;
      }

      .howitworks_content {
        margin: 25px 0;

        .howitworks_subheading {
          font-size: 23px;
        }

        hr {
          margin: 0 auto;
          width: 15%;
        }

        .howitworks_description {

          padding: 0px;
          font-size: 15px;
          margin: 10px auto;
        }
      }

      .howitworks_finish {
        .finish_heading {
          font-size: 30px;
          margin: 0px;
        }

        .finish_subheading {
          font-size: 14px;
        }
      }
    }

    .query_wrapper {
      width: 94%;
      margin: 6% 3% 9% 3%;

      .query_heading {
        margin: 3px 0px 15px 0px;
        font-size: 25px;
      }

      .email_section, .call_section {
        font-size: 15px;

      }
    }

    .getintouch_form {
      width: 100%;
      margin: 0px;

      .getintouch_title {

        font-size: 25px;
        text-align: center;

      }

      .leads_generation_form_component_wrapper {
        p {

          font-size: 14px;
        }
      }

    }
  }
}
    
