.login_wrapper{
    margin: 110px 0 70px 0;
    input{
        padding: 4px 15px;
        margin-bottom: 18px;
        border-radius: 4px;
        outline: none;
        border: 1px solid;
        height: 40px;
        display: block;
        width: 100%;
    }
    .pink_button{
        padding: 8px 15px;
        background-color: $light_pink !important;
        color: white;
        outline: none !important;
        border: 2px solid $light_pink !important;
        border-radius: 0;
        font-family: $lato_font;
    }
    .white_button {
        padding: 8px 15px;
        background-color: #FFF !important;
        color: $light_pink !important;
        outline: none !important;
        border: 2px solid $light_pink !important;
        border-radius: 0;
        font-family: $lato_font;
        margin: 0 10px;
    }
    .login_container{
        background: #F5F6F6;
        padding: 15px;
        border-radius: 4px;
        box-shadow: 0 2px 2px lightgrey;
        .form_wrapper{
            padding: 15px;
            background: white;
            display: flex;
            flex-direction: column;
            span{
                cursor: pointer;
                color: $light_pink;
                font-weight: 600;
                margin: 0 0 18px 0;
                width: fit-content;
            }
        }
        .account_creation_command {
            font-family: $lato_font;
            letter-spacing: 0.5px;
            font-size: 16px;
            margin: 0;
            a {
                text-decoration: none !important;
                color: $light_pink;
                font-weight: 600;
            }
        }
    }

    @media only screen and (max-width: 600px) {
        margin: 110px 0 40px 0;
    }
}


.forgot_password_container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0 ,0 ,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
    .fp_box{
        background: white;
        padding: 20px;
        width: 30%;
        margin: auto;
        border-radius: 4px;
        text-align: center;
        h4{
            font-size: 18px;
            color: #000;
            font-family: $lato_font;
            letter-spacing: 0.5px;
        }
    }
    @media only screen and (max-width: 600px) {
        .fp_box {
            h4 {
                font-size: 16px;
            }
            width: 96%;
        }
    }
}