.provider_page_wrapper {
  overflow: hidden;
  margin: 0 0 90px 0;

  .show_mobile {
    display: none;
  }

  .show_desktop {
    display: block;
  }

  .providerPage_hero_section {
    position: relative;

    .hero_image_wrapper {
      background-color: #000;
      overflow: hidden;

      img {
        object-fit: cover;
        width: 100%;
        opacity: 0.7;
        height: 600px;
      }
    }

    .hero_offer_wrapper {
      position: absolute;
      top: 15%;
      right: 5%;
      background-color: white;
      text-align: center;
      padding: 20px;

      .offer_title {
        font-size: 17px;
        font-weight: bold;
      }

      .offer_wrapper {
        background-color: #e03b58;
        border-radius: 12px;
        text-align: justify;
        padding: 7px;
        font-size: 17px;
        font-weight: bold;
        margin: 0 0 9px 0;
        display: flex;

        img {
          margin: 0 15px;
          width: 9%;
        }

        p {
          font-weight: 100;
          margin: 3px 0 0 0;
          color: white
        }
      }
    }

    .hero_content_wrapper {
      position: absolute;
      top: 25%;
      left: 7%;
      color: white;

      .name_wrapper {
        display: flex;

        img {
          width: 10%;
          margin: 0 5px 0 0;
        }

        .property_title {
          font-size: 25px;
          font-weight: bold;
          margin: 3px 0 0 0;
        }
      }

      hr {
        width: 90%;
        margin: 10px 0;
      }

      .property_detail {
        font-size: 20px;
      }

      .book_button {
        outline: none !important;
        border: none !important;
        border-radius: 0;
        font-family: $lato_font;
        background-color: #f41950 !important;
        font-weight: 600;
        font-size: 20px;
        padding: 8px 20px;
        color: white;
        margin: 20px 0 0 0;
      }
    }

    .colored_wrapper {
      background-color: #f7f7f7;
      display: flex;
      align-items: center;

      p {
        font-size: 18px;
        margin: 20px auto;
      }

      button {
        outline: none !important;
        border: none !important;
        border-radius: 0;
        font-family: $lato_font;
        background-color: $light_pink !important;
        font-weight: 600;
        font-size: 17px;
        padding: 8px 35px;
        color: white;
        margin: auto
      }
    }
  }

  .reasons_wrapper {
    margin: 40px 0 20px 0;

    .reason_title {
      font-size: 20px;
      font-weight: bold;
      margin: 0;

    }

    .reason_subheading {
      font-size: 17px;
      margin: 0;
    }
  }

  .reason_description_wrapper {
    margin: 0 0 0 70px;

    .reason_content {
      .reason_content_title {
        font-size: 17px;
        color: $blue;
        font-weight: bold;
      }

      .reason_content_description {
        font-size: 15px;
      }
    }
  }

  .first_border {
    width: 50%;
    margin-right: 0;
    height: 2px;
    background-color: #c1c1c1;
  }

  .second_border {
    width: 60%;
    margin-right: 0;
    height: 2px;
    background-color: #c1c1c1;
  }

  .neighbourhood_wrapper {
    margin: 50px 0 0 0;

    .neighbourhood_title {
      font-size: 20px;
      font-weight: bold;
      margin: 0;
    }

    .neighbourhood_subheading {
      font-size: 17px;
      font-weight: bold;
      margin: 0;
    }

    .neighbourhood_description {
      font-size: 15px;
    }
  }

  .city_properties_wrapper {
    .cities_wrapper {
      margin: 20px 0 40px 0;

      ul {
        list-style: none;

        li {
          margin: 0 15px;
          cursor: pointer;
          font-size: 17px;
          position: relative;
          padding: 0 0 6px;
          display: inline-block;
          opacity: 0.8;
        }

        .selected_city {
          opacity: 1;
          font-weight: bold;
        }

        .selected_city::after {
          content: "";
          width: 50%;
          height: 2px;
          background-color: $light_pink;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }

    }

    .properties_wrapper {
      margin: 40px 0 0 0;

      .single_property_wrapper {
        box-shadow: 0 4px 8px 6px lightgrey;
        margin: 0 0 25px 0;
        height: 340px;

        img {
          width: 100%;
          height: 150px;
        }

        .property_description_wrapper {
          padding: 10px;
          background-color: #fff;

          .property_name {
            margin: 0;
            font-weight: 600;
            font-family: 'Roboto', sans-serif;
            letter-spacing: 0.3px;
            color: $black !important;
          }

          .property_place {
            color: grey;
            letter-spacing: 0.4px;
            margin: 0;
            font-size: 16px;
            font-family: $lato_font;
          }

          .property_min_price {
            margin: 10px 0 0 0;
            font-family: $lato_font;
            color: $black;

            span {
              color: $light_pink !important;
              font-weight: 600;
              font-size: 18px;
            }
          }
        }
      }
    }

    a {
      text-decoration: none;
      .search_more_properties {
        border-radius: 0;
        font-family: "Lato", serif;
        background-color: white !important;
        font-weight: 600;
        font-size: 15px;
        padding: 10px 20px;
        margin: 20px auto 40px auto;
        display: flex;
        color: black;
        text-decoration: none
      }
    }
  }

  .first_underline {
    width: 60%;
    margin-left: 0;
    height: 2px;
    background-color: #c1c1c1;
  }

  .second_underline {
    width: 50%;
    margin-left: 0;
    height: 2px;
    background-color: #c1c1c1;
  }

  .testemonial_section {
    margin: 80px 0 0 0;
    .testemonial_title {
      margin: 0 0 0 120px;
      p {
        &:first-child {
          font-weight: bold;
          font-size: 30px;
          color: $blue;
          margin: 0;
        }

        &:nth-child(2) {
          font-size: 22px;
          margin: 0;
        }
      }
    }

    .testemonial_box {
      background-color: #f7f7f7;
      margin: 80px 0 0 0;

      .testemonial_content {
        font-size: 20px;
        font-family: $lato_font;
        margin: 50px 50px 30px 50px;
        text-align: justify;
      }

      .student_name {
        margin: 0 0 0 50px;
        font-size: 20px;
        font-weight: bold;
      }

      .student_country {
        margin: 3px 0 0 50px;
        font-size: 16px;
      }

      .testemonial_content::before {
        content: ' \201F';
        font-size: 40px;
        color: #f41950;
        position: absolute;
        left: 40px;
        top: 30px;
      }

      .students_image {
        height: 400px;
        width: 400px;
        margin: -200px 40px 30px 20px;
      }

      .previous_next_wrapper {
        .disabled_style {
          opacity: 0.6;
        }

        .previous_testemonial, .next_testemonial {
          background-color: transparent;
          border: none;
          outline: none;
        }

        .previous_testemonial::after {
          content: ' \2190';
          font-size: 60px;
          color: $light_pink
        }

        .next_testemonial::after {
          content: ' \2192';
          font-size: 60px;
          color: $light_pink
        }
      }
    }

  }

  .contact_us_wrapper {
    margin: 50px auto 0 auto;
    width: 80%;
    box-shadow: 0 4px 8px 6px lightgrey;

    .contact_heading_section {
      padding: 40px 0 20px 0;
      background-color: #f7f7f7;

      .upper_heading {
        p {
          &:first-child {
            font-size: 22px;
            margin: 0 0 0 70px;
          }

          &:nth-child(2) {
            font-size: 17px;
            margin: 0 0 0 70px;
          }
        }
      }

      .quality_wrapper {
        margin: 20px;
        display: flex;

        .quality_box {
          background-color: white !important;
          font-weight: 600;
          font-family: "Lato", serif;
          letter-spacing: 0.5px;
          margin: 0 20px 0 0;
          padding: 8px 20px;
          border-radius: 5px;

          img {
            width: 10%;
            margin: 0 8px 0 0;
          }
        }
      }

      .lower_heading {
        font-size: 17px;
        margin: 0 0 0 40px;
      }
    }

    .form_wrapper {
      padding: 20px
    }
  }

  .about_us_section {
    margin: 60px 0 0 0;

    .about_us_heading {
      font-size: 20px;
      font-weight: bold;
    }

    .about_us_content {
      font-size: 15px;
      text-align: justify;
      letter-spacing: 0.5;

      span {
        font-weight: bold;
      }
    }

    img {
      width: 100%
    }
  }
}

@media only screen and (max-width: 600px) {
  .provider_page_wrapper {
    .show_mobile {
      display: block;
    }

    .show_desktop {
      display: none;
    }

    .providerPage_hero_section {
      .hero_content_wrapper {
        top: 20%;
        left: 30%;
        transform: translate(-50px, -50px);
      }

      .hero_offer_wrapper {
        position: unset;

        .offer_title {
          font-size: 20px;
        }

        .offer_wrapper {
          img {
            width: 7%
          }

          p {
            font-size: 16px;
          }
        }
      }

      .colored_wrapper {
        display: block;
        text-align: center;

        p {
          font-size: 18px;
          padding-top: 20px;
          margin: 0 0 20px 0;
        }

        button {
          margin: 0 0 20px 0;
          padding: 8px 20px;

        }
      }
    }

    .reasons_wrapper {
      margin: 20px 0;

      .reason_title {
        font-size: 25px;
      }

      .reason_subheading {
        font-size: 20px;
      }
    }

    .reason_description_wrapper {
      margin: 0;

      .reason_content {
        .reason_content_title {
          font-size: 19px;
        }

        .reason_content_description {
          font-size: 17px;
          text-align: justify;
          padding-right: 20px;
        }
      }
    }

    .first_border {
      width: 80%
    }

    .second_border {
      width: 90%
    }

    .neighbourhood_wrapper {
      margin: 30px 0 0 0;

      .neighbourhood_title {
        font-size: 25px;
      }

      .neighbourhood_subheading {
        font-size: 20px;
      }

      .neighbourhood_description {
        margin: 10px 0;
        padding-right: 20px;
        font-size: 17px;
        text-align: justify;
      }
    }

    .city_properties_wrapper {
      .cities_wrapper {
        margin: 10px 0 40px 0;

        hr {
          height: 1px;
          width: 90%
        }
      }
    }

    .first_underline {
      width: 90%;
    }

    .second_underline {
      width: 80%
    }

    .testemonial_section {
      margin: 20px 0;

      .testemonial_title {
        margin: 0;
      }

      .testemonial_box {
        margin: 20px 0;

        .students_image {
          margin: 0
        }

        .testemonial_content {
          margin: 50px 20px 20px 20px;
        }

        .testemonial_content::before {
          left: 22px;
          top: 20px;
        }

        .student_name {
          margin: 0 0 3px 20px;
        }

        .student_country {
          margin: 0 0 0 20px;
          font-size: 18px;
        }
      }
    }

    .contact_us_wrapper {
      width: 100%;
      margin: 40px auto 0 auto;

      .contact_heading_section {
        padding: 20px 0;

        .upper_heading {
          text-align: center;

          p {
            &:first-child {
              font-size: 22px;
              margin: 0
            }

            &:nth-child(2) {
              font-size: 17px;
              margin: 0
            }
          }
        }

        .quality_wrapper {
          display: block;

          .quality_box {
            margin: 0 0 10px 0;

            img {
              width: 7%
            }
          }

        }

        .lower_heading {
          text-align: center;
          margin: 0;
        }
      }
    }

    .about_us_section {
      .about_us_content {
        font-size: 17px;
        line-height: 27px;
      }

      img {
        margin: 20px 0 0 0;
      }
    }
  }
}