.details_page {
  label {
    display: block;
    font-family: $lato_font;
    letter-spacing: 0.5px;
    font-size: 14px;
    margin: 0 0 4px 0;
  }

  .hero_section_details_page {
    .property_gallery {
      position: fixed;
      top: 0;
      bottom: 0;
      width: 100vw;
      height: 100vh;
      z-index: 99;
      background-color: #FFF;
      padding: 50px;
      text-align: center;
      overflow: auto;

      .single_image_wrapper {
        margin: 20px 0;

        img {
          max-width: 100%;
          width: 75%;
          object-fit: cover;
        }
      }

      .close_gallery_button {
        color: $blue;
        position: fixed;
        top: 25px;
        right: 50px;
        font-size: 30px;
        font-weight: 600;
        cursor: pointer;
      }
    }

    .property_upfront_images_wrapper {
      width: 100%;
      display: flex;
      height: 76vh;
      margin: 0 0 60px 0;

      .column_first_image {
        width: 45%;
        height: 76vh;
        background-color: #000;

        img {
          width: 100%;
          height: 76vh;
          opacity: 0.6;
        }
      }

      .column_second_image {
        width: 25%;
        height: 76vh;
        position: relative;
        background-color: #000;

        button {
          position: absolute;
          bottom: 25px;
          right: 25px;
          background-color: $blue !important;
          border: none !important;
          border-radius: 0 !important;
          font-weight: 600;
          font-size: 18px;
          text-transform: uppercase;
          padding: 15px 18px;
        }

        img {
          width: 100%;
          height: 38vh;
          opacity: 0.6;
        }
      }

      .property_overview_and_offer_wrapper {
        margin: 100px 20px;
        position: relative;
        width: 30%;
        text-align: center;
        justify-content: center;
        align-items: center;

        .property_overview_wrapper {
          p {
            &:first-child {
              font-family: $lato_font;
              font-weight: 600;
              font-size: 28px;
              letter-spacing: 0.5px;
            }

            &:nth-child(2) {
              font-family: $lato_font;
              font-size: 16px;
            }

            &:nth-child(3) {
              font-family: $lato_font;
              font-size: 16px;

              span {
                color: $blue;
                font-size: 22px;
                margin: 0 5px;
                font-weight: 600;
              }
            }
          }

          h2 {
            font-weight: bold;
          }
        }

        .distance {
          margin: 18px 0 0 0;
          font-family: $lato_font;
          font-size: 16px;

          span {
            font-weight: 600;
          }
        }

        .cancellation_policy {
          margin: 16px 0 0 0;
          font-weight: 600;
          font-family: $lato_font;
          cursor: pointer;
          font-size: 16px;
          background-color: $blue;
          padding: 8px 0;
          color: $white;

          img {
            margin: 0 20px 0 0;
            width: 8%;
          }
        }

        .policy_wrapper {
          position: fixed;
          top: 0;
          left: 0;
          z-index: 999;
          background-color: rgba(248, 248, 246, 0.95);
          overflow: hidden;
          width: 100vw;
          height: 100vh;

          .close_policy {
            position: absolute;
            top: 30px;
            right: 57px;
            cursor: pointer;
            font-size: 30px;
            font-weight: 900;
          }

          .policy_content_wrapper {
            padding: 50px;
            position: fixed;
            top: 50%;
            left: 50%;
            background-color: #FFF;
            width: 80%;
            height: 80%;
            overflow: auto;
            transform: translate(-50%, -50%);
            border-radius: 4px;
            box-shadow: 0 4px 4px lightgrey;
            font-family: $lato_font;

            .policy_title {
              font-size: 22px;
              color: $light_pink;
              text-align: justify;
              font-weight: 600;
            }

            .policy_content {
              font-size: 16px;
              line-height: 27px;
              text-align: justify;
            }

            li {
              font-size: 16px;
              text-align: justify;
              list-style-type: none;
              margin: 0 0 16px 0;
              font-weight: 600;
            }

            .policy_terms {
              font-size: 16px;
              opacity: 0.7;
              line-height: 27px;
              text-align: justify;
            }
          }
        }

        .property_offer_wrapper {
          margin: 40px 0 0 0;
          background-color: #F5F6F6;

          p {
            text-align: center;
            background-color: $blue;
            color: #FFF;
            font-family: $lato_font;
            letter-spacing: 0.5px;
            font-weight: 600;
            padding: 6px 0;
            font-size: 18px;
          }

          ul {
            padding: 0 10px 20px 30px;

            li {
              list-style-type: decimal;
              color: $light_pink;
              font-family: $lato_font;
              letter-spacing: 0.5px;
              font-size: 16px;
              margin: 0 0 14px 0;
              font-weight: 600;
            }
          }
        }
      }
    }

    .property_description_wrapper {
      margin: 0 0 50px 0;

      p {
        font-family: $roboto_font;
        font-weight: 600;
        font-size: 26px;
        letter-spacing: 0.5px;
        margin: 0 0 5px 0;
        font-weight: 100 !important;
      }

      h1 {
        font-weight: bold;
        font-size: 26px;
      }

      div {
        font-family: $lato_font;
        font-size: 18px !important;

        span, div, p {
          font-size: 18px;
        }

        .collapsedHeight {
          font-size: 13px;
          height: 109px;
          margin-bottom: 0;
          overflow-y: hidden;
          text-align: justify;
          @media screen and (max-width: 600px) {
            height: 95px;
            margin: 0;
          }
        }

        .expandedHeight {
          font-size: 13px;
          height: auto;
          text-align: justify;
          margin-bottom: 0;
        }
      }

      h6 {
        color: $light_pink;
        font-weight: 600;
        font-family: $lato_font;
        letter-spacing: 0.5px;
        font-size: 16px;
        width: fit-content;
        cursor: pointer;
      }
    }
  }

  .property_facilities_section_wrapper {
    .property_facilities_wrapper {
      .single_facility_type_wrapper {
        margin: 0 0 26px 0;

        h6 {
          width: fit-content;
          font-weight: 600;
          font-family: $lato_font;
          font-size: 18px;
          margin: 0 0 8px 0;
          letter-spacing: 0.5px;
        }

        ul {
          padding: 0;
          margin: 0;

          li {
            list-style-type: none;
            display: inline-block;
            width: 33%;
            margin: 0 0 18px 0;
            font-size: 16px;

            span {
              margin: 0 6px 0 0;

              img {
                width: 20px;
              }
            }
          }
        }
      }
    }

    .payment_rules_wrapper {
      margin: 0 0 44px 0;
      box-shadow: 2px 2px 2px 2px lightgrey;
      padding: 20px;

      h6 {
        width: fit-content;
        font-weight: 600;
        font-family: $lato_font;
        font-size: 18px;
        margin: 0 0 8px 22px;
        letter-spacing: 0.5px;
      }

      div {
        font-family: $lato_font;
        font-size: 16px !important;

        span, div, p {
          font-size: 16px !important;
        }
      }
    }
  }

  .room_types_section_wrapper {
    position: relative;
    padding: 20px 0;
  
    background-color: #F5F6F6;

    .section_headline {
      margin: 0 0 14px 0;
      font-family: $lato_font;
      font-size: 22px;
    }

    .room_type_gallery {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 99;
      width: 100vw;
      height: 100vh;
      background-color: #FFF;
      overflow: auto;
      text-align: center;

      .close_type_gallery {
        position: fixed;
        top: 25px;
        right: 50px;
        cursor: pointer;
        font-size: 30px;
        font-weight: 600;
      }

      .single_image_wrapper {
        margin: 20px;

        img {
          width: 75%;
          max-width: 100%;
          height: 90%;
          object-fit: cover;
        }
      }
    }

    .roomcategory_selection_wrapper{
      margin:20px 0px;
      .selected_category
      {
        background-color: $light_pink;
        outline: none !important;
        border: 1px solid $light_pink;
        border-radius: 0;
        margin: 0px 20px 0px 0px;
        padding: 5px 20px;
        font-size: 16px;
        color:white;
      }
      button{
        background-color: white;
        outline: none !important;
        border: 1px solid black;
        border-radius: 0;
        margin: 0px 20px 0px 0px;
        padding: 5px 20px;
        font-size: 16px;
      }
      .category_description{
        font-size:17px;
        font-family: $lato_font;
        margin: 20px 0;
      }
     
    }
    .single_accordion_headline {
      background-color: #FFF;
      margin: 10px 0 12px 0;
      padding: 12px 20px;
      border-radius: 4px;
      box-shadow: 0 0 2px lightgrey;
      width: 100%;
      cursor: pointer;

      p {
        display: inline-block;
        margin: 0;
        width: 45%;
        font-size: 18px;
        font-family: $lato_font;
      }

      &:last-child {
        margin: 0;
      }

      .arrow {
        border: solid $light_pink;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
      }

      .down_arrow {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }

      .up_arrow {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-135deg);
      }

      .section_headline {
        font-family: $roboto_font;
        font-weight: 600;
        font-size: 22px;
        letter-spacing: .5px;
        margin: 0 0 5px;
      }

      .type_config_wrapper {
        margin: 30px 0 0 0;
        background-color: #F5F6F6;
        padding: 15px;

        .roomtype_image_definition_offer_wrapper {
          display: flex;
        }

        .room_type_hero_image {
          width: 25%;

          img {
            width: 100%;
            height: 145px;
            object-fit: cover;
          }
          .room_area{
            width:100%;
            font-size:16px;
            margin: 10px 0 0 0;
            span{
              font-weight: bold;
            }
          }

          button {
            width: 100%;
            outline: none !important;
            border: none !important;
            border-radius: 0;
            padding: 3px 0;
            font-family: $lato_font;
            background-color: $blue;
          }
        }

        .roomtype_definition {
          width: 55%;
          padding: 0 20px;
          font-family: $lato_font;
          font-size: 16px;
          text-align: justify;

          li {
            list-style-type: none;
            display: inline-block;
            width: 50%;
            margin: 0 0 16px 0;

            img {
              width: 15px;
              margin: 0 8px 0 0;
            }
          }
        }

        .roomtype_offer {
          width: 40%;

          .single_type_offer {
            background-color: $white;
            width: fit-content;
            color: $black;
            padding: 6px 10px;
            font-family: $lato_font;
            font-size: 16px;
            font-weight: 600;
            border: 2px solid $light_pink;
            margin: 0 0 6px 0;

            &:last-child {
              margin: 0;
            }
          }
        }
      }

      .rate_config_wrapper {
        margin: 20px 0 0 0;
        background-color: #FFF;
        padding: 15px 15px 5px 15px;

        .single_rate_wrapper {
          margin: 0 0 16px 0;
          display: flex;
          font-family: $lato_font;

          p {
            &:first-child {
              width: 55%;
              font-size: 16px !important;
            }

            &:nth-child(2) {
              width: 30%;
              margin: 0 12px;
              font-size: 16px !important;
            }
          }

          button {
            outline: none !important;
            border: none !important;
            border-radius: 0;
            font-family: $lato_font;
            background-color: $light_pink !important;
            font-weight: 600;
          }
        }
      }

      &:last-child {
        margin: 12px 0 0 0;
      }
    }

    .selected_rate_for_reserve {
      text-align: center;
      margin: 45px 0 0;
      background-image: linear-gradient(to right top, #f41950, #e04c6f, #de6582, #d4758d, #c88496);
      color: #fff;
      font-family: $lato_font;
      padding: 20px;
      letter-spacing: 0.5px;
      position: fixed;
      z-index: 99;
      bottom:0;
      right:0;
      width: 100%;

      p {
        &:first-child {
        //  text-align: center;
        //  font-weight: 600;
        //  font-size: 20px;
        font-weight: 600;
        margin: 0 20px 16px 0;
        font-size: 16px;
        display:inline-block;
        text-align: center;
        }

        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          font-weight: 600;
          margin: 0 20px 16px 0;
          font-size: 16px;
          display:inline-block;
          text-align: center;
        }

        span {
          font-weight: normal;
        }
      }
      .buttons_wrapper{
        text-align: center;
      button {
        outline: none !important;
        background-color: #FFF !important;
        font-weight: 600;
        border: 1px solid #FFF;
        color: $light_pink;
        font-size: 18px;
        margin: 20px 20px 0 0;
        border-radius: 0;
        text-transform: uppercase;
      }
    }
    }
  }

  .nearby_places_section {
    margin: 0 0 60px 0;

    p {
      font-family: Roboto, serif;
      font-weight: 600;
      font-size: 22px;
      letter-spacing: .5px;
      margin: 0 0 10px 0;
    }

    table {
      width: 100%;
      font-family: $lato_font;

      td {
        padding: 8px 0 !important;
      }
    }
  }

  .contact_form_section {
    background-color: #f5f6f5;
    padding: 60px 0;

    .contact_form_wrapper {
      background-color: #FFF;
      border-radius: 6px;
      box-shadow: 0 4px 4px lightgray;
      padding: 25px;
      width: 90%;

      p {
        font-family: $lato_font;
        font-weight: 600;
        font-size: 18px;
        letter-spacing: 0.5px;
        margin: 10px 20px 10px 20px;
      }

      .single_field_wrapper {
        padding: 15px;
        display: inline-block;
        width: 50%;

        input {
          display: block;
          height: 40px;
          border-radius: 4px;
          border: 1px solid;
          width: 100%;
          padding: 0 8px;
        }
      }

      .contact_number_wrapper {
        display: flex;
        width: 100%;

        select {
          width: 100%;
        }
      }

      .select_field_wrapper {
        padding: 15px;
        display: inline-block;
        width: 100%;

        input, select {
          display: block;
          height: 40px;
          border-radius: 4px;
          border: 1px solid;
          width: 100%;
          padding: 0 8px;
          background-color: #FFF;
        }
      }

      .textarea_field_wrapper {
        padding: 15px;
        width: 100%;

        textarea {
          display: block;
          width: 100%;
          height: 100px;
          resize: vertical;
          padding: 8px;
          border: 1px solid;
          border-radius: 4px;
        }
      }

      button {
        outline: none !important;
        border: none !important;
        background-color: $light_pink !important;
        font-family: $lato_font;
        font-weight: 600;
        padding: 8px 32px;
        letter-spacing: 0.5px;
        margin: 10px 20px 0 20px;
      }
    }

    .contact_details_wrapper {
      p {
        font-family: $lato_font;
        letter-spacing: 0.5px;

        &:first-child {
          font-size: 22px;
          font-weight: 600;
        }

        &:nth-child(2) {
          font-size: 22px;
          font-weight: 600;
          color: $light_pink;
          margin: 0;
        }

        &:nth-child(3) {
          font-size: 18px;
          font-weight: 600;
          color: $blue;
          margin: 0;
        }

        &:nth-child(4) {
          font-size: 16px;
          font-style: italic;
          margin: 10px 0;
        }

        &:nth-child(5) {
          font-size: 22px;
          font-weight: 600;
          color: $light_pink;
          margin: 0;
        }

        &:nth-child(6) {
          font-size: 18px;
          font-weight: 600;
          color: $blue;
          margin: 0;
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    .hero_section_details_page {
      .property_upfront_images_wrapper {
        width: 100%;
        display: block;
        height: auto;
        margin: 0 0 25px 0;

        .column_first_image {
          width: 100%;
          height: 35vh;
          margin: 0 10px 0 0;

          img {
            width: 100%;
            height: 35vh;
            object-fit: cover;
          }
        }

        .column_second_image {
          width: 100%;
          height: 20vh;

          img {
            width: 50%;
            height: 20vh;
            object-fit: cover;
          }
        }

        .property_overview_and_offer_wrapper {
          width: 90%;
          margin: 30px 15px;
          text-align: left;

          p:first-child {
            font-size: 22px;
            margin: 0;
          }

          p:nth-child(2) {
            margin: 12px 0 22px 0;
            font-size: 18px;
          }

          .cancellation_policy {
            text-align: center;
          }

          .policy_wrapper {
            .close_policy {
              font-size: 22px;
              right: 35px;
            }
            .policy_content_wrapper {
              padding: 25px;
              width: 95%;
              .policy_content {
                font-size: 16px;
              }
            }
          }
        }
      }

      .property_description_wrapper {
        p {
          font-size: 18px;
        }

        h1 {
          font-size: 20px;
        }

        .collapsedHeight {
          height: 95px;
          margin: 0
        }

        h6 {
          margin: 20px 0 0 0;
        }
      }

      .property_gallery {
        padding: 40px 20px;

        .close_gallery_button {
          top: 10px;
          right: 20px;
        }

        .single_image_wrapper {
          img {
            width: 100%;
          }
        }
      }
    }

    .property_facilities_section_wrapper {
      .property_facilities_wrapper {
        .single_facility_type_wrapper {
          margin: 0 0 26px 0;

          h6 {
            font-size: 20px;
            margin: 0 0 20px 0;
          }

          ul {
            li {
              list-style-type: none;
              display: inline-block;
              margin: 0 0 20px 0;
              width: 50%;

              span {
                img {
                  width: 20px;
                }
              }
            }
          }
        }
      }

      .payment_rules_wrapper {
        margin: 0 0 27px 0;
        padding: 10px;

        h6 {
          font-size: 20px;
          margin: 0 0 20px 20px;
        }

        div {
          font-size: 18px;
        }
      }
    }

    .room_types_section_wrapper {
      .room_type_gallery {
        padding: 50px 0;
        .close_type_gallery {
          right: 20px;
        }

        .single_image_wrapper {
          img {
            width: 100%;
            height: auto;
          }
        }
      }

      .section_headline {
        font-size: 17px;
      }

      .single_accordion_headline {
        p {
          width: 45%;
          font-size: 16px;
          &:nth-child(2) {
            margin: 0 15px;
            width:40%
          }
        }
        span {
          float: right;
          margin: 4px 0 0 0;
        }
        .type_config_wrapper {
          .roomtype_image_definition_offer_wrapper {
            display: block;
            .room_type_hero_image {
              width: 100%;
            }
            .roomtype_definition {
              width: 100%;
              padding: 0;
              margin: 30px 0 0 0;
            }
            .roomtype_offer {
              width: 100%;
              .single_type_offer {
                font-size: 14px;
              }
            }
          }
          .rate_config_wrapper {
            .single_rate_wrapper {
              display: block;
              p {
                &:first-child {
                  width: 100%;
                  margin: 0 0 14px 0;
                }
                &:nth-child(2) {
                  width: 100%;
                  margin: 0;
                }
              }
              button {
                width: 100%;
                margin: 20px 0 0 0;
                padding: 8px 0;
                font-size: 18px;
                letter-spacing: 0.8px;
                font-weight: 900;
              }
            }
          }
        }
      }

      .selected_rate_for_reserve {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
        z-index: 99;
        top: unset;
      }
    }

    .nearby_uni_wrapper_mobile {
      padding: 0 15px;

      p {
        font-family: $roboto_font;
        font-weight: 600;
        font-size: 20px;
        letter-spacing: 0.5px;
      }

      .uni_cards_wrapper {
        width: 100%;
        display: flex;
        overflow-x: auto;

        .single_uni_wrapper {
          width: 90%;
          flex-shrink: 0;
          padding: 20px 0 20px 20px;
          background-color: #F5F6F6;
          margin: 0 15px 0 0;
          border-radius: 6px;
          box-shadow: 0 4px 4px lightgrey;

          p {
            font-family: $lato_font !important;
            font-weight: 600;
            font-size: 18px;
            letter-spacing: .5px;
            margin: 0 0 10px 0;
          }

          div {
            display: inline-block;
            width: 30%;

            img {
              width: 20%;
            }

            span {
              font-family: $lato_font;
              font-size: 14px;
              letter-spacing: .5px;
              margin: 0 0 0 10px;
            }
          }
        }
      }
    }

    .contact_form_section {
      background-color: #f5f6f5;
      padding: 60px 0;

      .contact_form_wrapper {
        padding: 15px;
        width: 100%;

        .contact_number_wrapper {
          font-size: 20px;
        }

        .select_field_wrapper {
          font-size: 21px;
        }

        p {
          font-size: 20px;
          margin: 10px 0;
        }

        .single_field_wrapper,
        .select_field_wrapper,
        .textarea_field_wrapper {
          margin: 20px 0;
          display: block;
          width: 100%;
          padding: 0;

          input,
          select {
            display: block;
            height: 40px;
            border-radius: 4px;
            border: 1px solid;
            width: 100%;
            padding: 0 8px;
            background-color: #FFF;
            font-size: 16px;
          }

        }

        .textarea_field_wrapper {
          margin: 10px 0;
          width: 100%;

          textarea {
            width: 100%;
          }
        }

        button {
          width: 100%;
          margin: 18px 0 0 0;
        }
      }

      .contact_details_wrapper {
        margin: 32px 0 0 0;
        text-align: center;
      }
    }
  }
}