.refer_and_earn_wrapper{
    .popup_contents {
        position: fixed;
        top: 30%;
        left: 30%;
        background-color: #FFF;
        text-align: center;
        padding: 25px;
        border-radius: 6px;
        font-family: $lato_font;
        font-style: italic;
        p{
            font-family: "Lato", serif;
            font-size: 18px;
          margin:0px 0px 20px 0px;
          padding: 0px 30px;
            text-align: center;
        }
        button {
            margin: 0 auto;
            color: #FFF;
            font-weight: 600;
            font-style: normal;
            outline: none !important;
            border: none !important;
            background-color: #f41950 !important;
            font-family: "Lato", serif;
            letter-spacing: 0.5px;
            border-radius: 0;
            display: block;
            padding: 8px 34px;
            font-weight: 600;
            font-size: 16px;
        }
    }
    .hero_image_wrapper{
        overflow: hidden;
        background-color: black;
        img{
            object-fit: cover;
            opacity:80%
        }
    }
        
        .refer_form_wrapper{
            margin: 50px auto 0px auto;
            width: 80%;
            box-shadow: 0 4px 8px 6px lightgrey;
            
            .form_heading_section{
                    font-size: 17px;
                    padding:30px;
                    text-align: center;
                    background-color: #f7f7f7;
                    span{
                        font-size:20px;
                    }
                }
            
            form{
                padding:30px;
                .person_heading{
                    font-size:17px;
                    font-weight: bold;
                    margin:0px 0px 20px 0px;
                }
            .referral_heading{
                font-size:17px;
                font-weight: bold;
                margin:20px 0px;
                }
                hr{
                    background-color: #f1f1f1;
                    height: 1px;
                }
            .single_form_field {
                display: inline-block;
                width: 50%;
                margin: 8px 0;
                padding: 0 11px;
                .contact_number_wrapper {
                    display: flex;
                    width: 100%;
                    select {
                        width: 100%;
                        border-radius: 4px;
                        font-size: 14px;
                    }
                }
                label {
                    display: block;
                    font-family: $lato_font;
                    letter-spacing: 0.5px;
                    font-size: 13px;
                    margin: 0 0 4px 0;
                }
                input, select {
                    display: block;
                    width: 100%;
                    height: 40px;
                    border: 1px solid;
                    border-radius: 4px;
                    outline: none !important;
                    padding: 6px 8px;
                    background-color: #FFF;
                }
                textarea{
                    display: block;
                    width: 100%;
                    height: 100px;
                    border: 1px solid;
                    border-radius: 4px;
                    outline: none !important;
                    padding: 6px 8px;
                    background-color: #FFF;
                }
            }
            .full_length_field {
                display: block;
                width: 100%;
                margin: 15px 0;
                padding: 0 8px;
                select {
                    display: block;
                    width: 100%;
                    height: 40px;
                    border: 1px solid;
                    border-radius: 4px;
                    outline: none !important;
                    padding: 6px 8px;
                    background-color: #FFF;
                    font-size: 14px;
                }
            }
            button {
                outline: none !important;
                border: none !important;
                background-color: $light_pink !important;
                font-family: $lato_font;
                letter-spacing: 0.5px;
                border-radius: 0;
                display: block;
                padding: 8px 34px;
                font-weight: 600;
                font-size: 16px;
                margin: 20px auto 0px auto;
            }
        }
    }
  
}

@media only screen and (max-width: 600px){
    .refer_and_earn_wrapper{
        margin:90px 0px 0px 0px;
        .hero_image_wrapper{
            img{
                width:100%
            }
        }
         .refer_form_wrapper{
            width:100%;
            .popup_contents {
                left: 0;
            }   
             form{
            .person_heading,.referral_heading{
                font-size:18px
            }
            .single_form_field, .full_length_field {
                width: 100%;
                display: block;
                margin:  0 0 15px 0;
                padding: 0;
                label{
                    font-size: 15px;
                }
                select{
                    font-size: 14px;
                }
            }
        }
        }
    }
}