.registration_page {
    margin: 0 0 100px 0;
    .registration_form_wrapper {
        background-color: #F5F6F6;
        padding: 15px;
        border-radius: 4px;
        box-shadow: 0 2px 2px lightgrey;
        margin: 30px 0 0 0;
        .form_headline {
            font-family: $lato_font;
            letter-spacing: 0.3px;
            margin: 0 10px 8px 10px;
            font-size: 18px;
            line-height: 20px;
        }
        .single_field_row {
            width: 100%;
            .single_field_wrapper {
                display: inline-block;
                margin: 10px;
                width: 45%;
                input {
                    display: block;
                    width: 100%;
                    border: 1px solid;
                    height: 40px;
                    padding: 0 6px;

                }
                label {
                    font-family: $lato_font;
                    letter-spacing: 0.5px;
                    font-size: 14px;
                    font-weight: 600;
                    margin: 0 0 2px 0;
                    display: block;
                }
            }
            .contact_wrapper {
                display: flex !important;
                width: 94% !important;
                select {
                    width: 100%;
                }
                input[type=number] {
                    width: 100% !important;
                }
            }
            .email_wrapper {
                width: 94% !important;
            }
        }
        button {
            outline: none !important;
            border: none !important;
            background-color: $light_pink !important;
            font-family: $lato_font;
            font-weight: 600;
            letter-spacing: 0.5px;
            margin: 10px 10px;
            border-radius: 0;
            padding: 6px 32px;
        }
        .login_command {
            font-family: $lato_font;
            letter-spacing: 0.3px;
            margin: 0 10px 8px 10px;
            font-size: 16px;
            line-height: 20px;
            a {
                color: $light_pink;
                font-weight: 600;
            }
        }
    }

    @media only screen and (max-width: 600px) {
        margin: 0 0 20px 0;
        .registration_form_wrapper {
            .form_headline {
                margin: 0 10px 16px 10px;
                font-size: 16px;
            }
            margin: 42px 0 0 0;
            .single_field_row  {
                .single_field_wrapper {
                    display: block;
                    width: 95%;
                }
            }
        }
    }
}