.remittance_page_wrapper{
    .remittance_hero_section{
        .remittance_hero_image_wrapper{
            background-color: black;
        }
        img{
            width: 100%;
            opacity: 0.7;
        }
    }
    .remittance_content_section{
        margin:40px 0px 0px 0px;
        padding:60px 20px;
        .remittance_title{
            font-size:22px;
            font-family: 'lato';
            font-weight: bold;
        }
        .remittance_description{
            font-size:16px;
            text-align: justify;
            font-family: 'lato';
        }
    }
    .remittance_rate{
        box-shadow: 2px 2px 2px 2px lightgrey;
        padding:30px;
        margin:30px 0px 0px 0px;
        .remittance_rate_title{
            font-size:20px;
            font-family: 'lato';
        }
        .table_wrapper{
            margin: 25px 0px 0px 0px;
        table{
            width: 100%;
            tr{
                border-bottom: 1px solid;
            th{
                padding: 6px 0;
                font-family: 'lato';
                font-size:17px;
            }
            td{
                padding: 12px 0;
                font-family: 'lato';
                font-size:15px;
            }
        }
        }
        .view_rate_card{
            outline: none !important;
            border: none !important;
            background-color: #f41950 !important;
            font-family: "Lato", serif;
            letter-spacing: 0.5px;
            border-radius: 0;
            display: block;
            padding: 8px 25px;
            font-weight: 600;
            font-size: 16px;
            margin: 30px auto 0px auto;
            color:white;
        }
     }
    }
    .contact_form{
        margin:60px auto 0px auto;
        box-shadow: 2px 2px 2px 2px lightgrey;
        padding: 30px;
        background-color: #f1f1f1;
        border-radius: 6px;
        .form_title{
            text-align: center;
            font-size: 22px;
            margin:0px 0px 20px 0px ;
            font-family: 'lato';
            
        }
       
    }
}

@media only screen and (max-width: 600px) {
    .remittance_page_wrapper{
       
        .remittance_content_section{
            margin:30px 0px 0px 0px;
            padding: 0;
            .remittance_title{
                font-size:22px;
            }
            .remittance_description{
                font-size:17px;
            }
        }
        .remittance_rate{
            padding:10px 0px;
            .remittance_rate_title {
                font-size:17px
            }
            .table_wrapper{
            table{
                width: 100%;
                tr{
                th{
                    font-size:13px;
                }
            }
        }
         }
        }
        .contact_form{
            width:100%;
            margin:30px auto 0px auto;
        }
    }

}