.retrieve_password_wrapper {
  .enter_password_wrapper {
    width: 50%;
    margin: 100px auto;
    label {
      font-size: 16px;
      display: block;
    }
    input {
      padding: 4px 15px;
      margin-bottom: 18px;
      border-radius: 4px;
      outline: none;
      border: 1px solid;
      height: 40px;
      width: 100%;
      display: block;
    }
    button {
      outline: none !important;
      border: none !important;
      background-color: $light_pink !important;
      font-family: $lato_font;
      letter-spacing: 0.5px;
      border-radius: 0;
      display: block;
      padding: 8px 34px;
      font-weight: 600;
      font-size: 16px;
      margin: 17px auto 0 auto;
    }
  }
}