.room_essentials_page_wrapper{
    .show_desktop{
        display: block;
    }
    .show_mobile{
        display: none;
    }
    .essentialsPage_hero_section{
        .hero_image_wrapper{
            background-color: black;
            img{
                width:100%;
                opacity: 0.7;
            }
        }
        .hero_content_wrapper{
            position: absolute;
            top: 25%;
            left: 17%;
            right:17%;
            color: white;
            text-align: center;
            .hero_title{
            font-size:30px;
            font-weight: 600;
            font-family: 'lato';
            }
            .hero_sub_section{
                background-color: #ffffff24;
                padding: 30px;
                margin:30px 0px 0px 0px;
                .subheading_first{
                    font-size: 20px;
                    margin:0px 0px 30px 0px;
                    font-family: 'lato';
                }
                .subheading_second{
                    font-size:16px;
                    font-family: 'lato';
                }
            }
        }
    }
    .room_essentails_main_wrapper{
        margin:20px 0px 0px 0px;
        .room_essentails_main_title{
            font-size: 25px;
            color:grey;
            text-align: center;
            margin:40px 0px;
        }
            .single_service_main_wrapper{
                box-shadow: 0 4px 8px 6px lightgrey;
                margin:0px 0px 40px 0px;
            .single_service_wrapper{
               display: flex;
                padding: 30px;
                .image_wrapper{
                    position: relative;
                    width: 150px;
                    height: 150px;
                    overflow: hidden;
                    border-radius: 50%;
                    border: 2px solid grey;
                    img{
                        width:100%;
                    }
               }
               .price_wrapper{
                width: 50px;
                line-height: 50px;
                border-radius: 50%;
                text-align: center;
                font-size: 16px;
                background-color: #827e87;
                margin: 90px 0px 0px 0px;
                border: 1px solid;
                z-index: 2;
                font-family: 'lato';
                position: absolute;
                color:white
               }
               .single_service_content{
                   width: 60%;
                   margin:0px 0px 0px 60px;
                   .single_service_content_title{
                       font-size:20px;
                       color:grey;
                       font-family: 'lato'
                   }
               }
           }
           .buttons_wrapper{
               display:flex;
               a{
                width: 60%;
                margin: 0px 3px 0px 0px;
               .more_info_button{
                  width:100%;
                   padding:8px 25px;
                   background-color:#a1a1a1;
                   color:white;
                   outline:none;
                   border:none;
                   font-size: 17px;
                   font-family: 'lato';
                   margin:0px 3px 0px 0px;
               }
            }
               .enquire_button{
                   width:40%;
                   padding:8px 25px;
                   background-color:#827e87;
                   color:white;
                   outline:none;
                   border:none;
                   font-size: 17px;
                   font-family: 'lato';
               }
           }
            }
            .order_before_wrapper{
                margin: 50px 0px 0px 0px;
                .content_wrapper{
                    padding: 60px 30px;
                    p {
                        &:first-child {
                          font-size: 25px;
                          font-family: 'lato';
                          line-height: 27px;
                        }
              
                        &:nth-child(2) {
                          font-size: 17px;
                          font-family: 'lato';
                          margin:15px 0px 0px 0px;
                        }
                        &:nth-child(3) {
                            font-size: 15px;
                            font-family: 'lato';
                            text-align: justify;
                            margin:15px 0px 0px 0px;
                          }
                      }
                     .list_wrapper{
                        margin:15px 0px 0px 0px;
                         .single_list_wrapper{
                            display: flex;
                             img{
                                height: 15px;
                                margin:2px 0px 0px 0px;
                              
                             }
                             .list_content{
                                 font-size: 15px;
                                 font-family: 'lato';
                                 margin: 0px 0px 0px 10px;
                             }
                         }
                      }
                }
              .kitchen_pack_image{
                    height: 400px;
                    width:500px;
                }
            }
            .how_it_works_wrapper{
                margin:80px 0px 0px 0px;
                img{
                   width:100%
                }
                p{
                    font-size:25px;
                    font-family: 'lato';
                }
                .how_it_works_content{
                    padding:30px;
                .single_how_it_works_wrapper{
                    img{
                        width:10%;
                        display: inline-block;
                    }
                   .single_wrapper_headline{
                       font-size: 20px;
                       font-family: 'lato';
                       margin:0;
                       display: inline-block;
                       font-weight: bold;
                       margin: 0px 0px 0px 10px;
                   }
                   .single_wrapper_content{
                       font-size:15px;
                       font-family: 'lato';
                   }
                }
            }
        }
            .contact_form{
                box-shadow: 2px 2px 2px 2px lightgrey;
                width:70%;
                margin:50px auto 0px auto;
                padding:30px;
                background-color: #f1f1f1;
                border-radius: 6px;
                .service_title{
                    font-size: 22px;
                    text-align: center;
                    margin:0px 0px 20px 0px;
                    font-family: 'lato';
                }
            }
            .frequently_question_wrapper{
                margin:70px 0px 0px 0px;
            .frequently_asked_questions{
                background-color: white;
                 padding: 30px;
                .frequently_title{
                    font-size:25px;
                    text-align: center;
                    font-family: 'lato';
                }
                .question_title{
                    margin:30px 0px;
                    font-size:22px;
                    font-family: 'lato';
                    font-weight: bold;;
                }
                .single_question_wrapper{
                    .question_line{
                        display: inline-block;
                        font-family:'lato';
                        font-size:17px;
                        width:90%
                    }
                      .answer_line{
                        display: inline-block;
                        font-size:15px;
                        font-family:'lato';
                        letter-spacing: 0.5;
                        text-align: justify;
                        width:80%;
                        color:#818181
                      }
                      .arrow {
                        border: solid #827e87;
                        border-width: 0 3px 3px 0;
                        display: inline-block;
                        padding: 3px;
                      }
                      .up_arrow {
                        transform: rotate(-45deg);
                        -webkit-transform: rotate(-135deg);
                        cursor: pointer; 
                  }
                  
                  .down_arrow {
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                    cursor: pointer;
                  }
    
            }
            }
        }
    }


    // Complete Room Pack Page Css
    .complete_roomPage_hero_section{
        .hero_image_wrapper{
            background-color: black;
            img{
                width:100%;
                opacity: 0.7;
                height: 500px;
            }
        }
        .hero_content_wrapper{
            position: absolute;
            top: 30%;
            left: 6%;
            color: white;
            text-align: center;
            .hero_title{
            font-size:25px;
            font-family: 'lato';
            font-weight: 600;
            margin:0;
            }
            hr{
                margin: 0px 0px 0px 0;
                width:80%
            }
            .price_title{
                font-size: 20px;
                margin:0px 0px 0px -130px;
            }
            .enquire_Button{
                padding:8px 25px;
                background-color:white;
                color:black;
                outline:none;
                border:none;
                font-size: 17px;
                font-family: 'lato';
                margin: 20px 0px 0px -110px;
                font-weight: bold;
            }
           
        }

    }
    .roomPack_content_wrapper{
        margin: 40px 0px 0px 0px;
        .roomPack_content_title{
            font-size: 17px;
            font-family: 'lato';
            font-weight: bold;
        }
        .roomPack_content{
            font-size: 15px;
            text-align: justify;
            font-family: 'lato';
            margin:10px 0px;
        }
        .facility_content_heading{
            font-size: 22px;
            font-weight: bold;
            margin:30px 0px 0px 0px;
            text-transform: uppercase;
            text-align: center;
            font-family: 'lato';
        }
        .facility_wrapper{
            .single_facility_wrapper{
                box-shadow: 2px 2px 2px 2px lightgrey;
                margin: 20px 0px 10px 0px;
                img{
                    width:100%;
                    height: 300px;
                }
            .facility_content_wrapper{
               padding:10px;
               .arrow {
                border: solid #827e87;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 3px;
              }
              .up_arrow {
                transform: rotate(-45deg);
                -webkit-transform: rotate(-135deg);
                cursor: pointer; 
          }
          
          .down_arrow {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            cursor: pointer;
          }
            .facility_title{
                font-size: 20px;
                font-family: 'lato';
                margin: 0;
                display: inline-block;
                width: 90%;
                margin: 0px 0px 10px 0px;
            }
            .facility_subtitle{
                font-size: 16px;
                font-family: 'lato';
                margin:10px 0px;
            }
          
            .single_facility_content_heading{
                display: flex;
                .list_icon{
                   height: 15px;
                   width:15px;
                   margin: 3px 10px 0px 0px;
                }
                .facility_description{
                   .title{
                    font-size: 15px;
                    margin:0;
                    font-family: 'lato';
                    font-weight: bold;
                   } 
                   .sub_title{
                       font-size:15px;
                       font-family: 'lato';
                   }
                 }
            }
           
                }
                
            }
        }
        .button_wrapper{
            text-align: center;
            margin:20px 0px 0px 0px;
        .enquire_button{  
            padding:8px 25px;
            background-color:#827e87;
            color:white;
            outline:none;
            border:none;
            font-size: 17px;
            font-family: 'lato';
            font-weight: bold;
        }
    }
        .important_points_wrapper{
            .important_point_title{
                font-size:20px;
                font-family: 'lato';
                font-weight: bold;
                text-align: center;
                margin:30px 0px 0px 0px;
            }
                .main_point{
                    font-size: 15px;
                    font-family: 'lato';
                    margin:10px 0px 0px 0px;
                   
                }
          
        }
        .contact_form{
            box-shadow: 2px 2px 2px 2px lightgrey;
            width:70%;
            margin:50px auto 0px auto;
            padding:30px;
            background-color: #f1f1f1;
            border-radius: 6px;
        }
    }

    // Complete Kitchen Pack CSS 

    .kitchenPage_hero_section{
        .hero_image_wrapper{
            background-color: black;
            img{
                width:100%;
                opacity: 0.5;
                height: 500px;
            }
        }
        .kitchen_hero_content_wrapper{
            position: absolute;
            top: 30%;
            left: 6%;
            color: white;
            text-align: center;
            .kitchen_title{
            font-size:25px;
            font-family: 'lato';
            font-weight: 600;
            margin:0;
            }
            hr{
                margin: 0px 0px 0px 0;
                width:70%
            }
            .price_title{
                font-size: 20px;
                margin:0px 0px 0px -46px;
                font-family: 'lato';
            }
            .enquire_Button{
                padding:8px 25px;
                background-color:white;
                color:black;
                outline:none;
                border:none;
                font-size: 17px;
                font-family: 'lato';
                margin: 20px 0px 0px 0px;
                font-weight: bold;
            }
           
        }

    }
    .kitchen_content_wrapper{
        margin: 40px 0px 0px 0px;
        .kitchen_content_title{
            font-size: 17px;
            font-weight: bold;
            font-family: 'lato';
        }
        .kitchen_content_question{
            font-size: 17px;
            font-family: 'lato';
            font-weight: bold;
            margin:30px 0px 0px 0px;
        }
        .kitchen_content{
            font-size: 15px;
            font-family: 'lato';
            text-align: justify;
            margin: 10px 0px 0px 0px;
        }
        .facility_content_heading{
            font-size: 22px;
            font-family: 'lato';
            font-weight: bold;
            margin:20px 0px 0px 0px;
            text-transform: uppercase;
            text-align: center;
        }
        .facility_wrapper{
            .single_facility_wrapper{
                box-shadow: 2px 2px 2px 2px lightgrey;
                margin: 20px 0px 10px 0px;
              
                img{
                    width:100%;
                    height: 300px;
                }
            .facility_content_wrapper{
                padding:10px;
                .arrow {
                    border: solid #827e87;
                    border-width: 0 3px 3px 0;
                    display: inline-block;
                    padding: 3px;
                  }
                  .up_arrow {
                    transform: rotate(-45deg);
                    -webkit-transform: rotate(-135deg);
                    cursor: pointer; 
              }
              
              .down_arrow {
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                cursor: pointer;
              }
             
            .facility_title{
                font-size:20px;
                font-family: 'lato';
                display: inline-block;
                width: 90%;
                margin: 0px 0px 10px 0px;
            }
            .facility_subtitle{
                font-size: 18px;
                font-family: 'lato';
                margin:0;
            }
          
            .single_facility_content_heading{
                display: flex;
              
                .list_icon{
                   height: 15px;
                   width:15px;
                   margin: 3px 10px 0px 0px;
                }
                .facility_description{
                   .title{
                    font-size: 15px;
                    font-family: 'lato';
                    margin:0;
                    font-weight: bold;
                   } 
                   .sub_title{
                       font-size:15px;
                       font-family: 'lato';
                   }
                 }
            }
                }  
            }
           
        }
        .button_wrapper{
            text-align: center;
            margin:20px 0px 0px 0px;
        .enquire_button{  
            padding:8px 25px;
            background-color:#827e87;
            color:white;
            outline:none;
            border:none;
            font-size: 17px;
            font-family: 'lato';
            font-weight: bold;
        }
    }
        .important_points_wrapper{
                p{
                    font-size:17px;
                    font-family: 'lato';
                   margin:22px 0px 0px 0px;
                   font-weight: bold;
            }
        }
        .contact_form{
            box-shadow: 2px 2px 2px 2px lightgrey;
            width:70%;
            margin:50px auto 0px auto;
            padding:30px;
            background-color: #f1f1f1;
            border-radius: 6px;
        }
    }

    // BedRoom CSS

    .roomPage_hero_section{
        .hero_image_wrapper{
            background-color: black;
            img{
                width:100%;
                opacity: 0.7;
                height: 500px;
            }
        }
        .roomPage_hero_content_wrapper{
            position: absolute;
            top: 30%;
            left: 6%;
            color: white;
            text-align: center;
            .roomPage_title{
            font-size:25px;
            font-family: 'lato';
            font-weight: 600;
            margin:0;
            }
            hr{
                margin: 0px 0px 0px 0;
                width:70%
            }
            .price_title{
                font-size: 20px;
                margin:0px 0px 0px -170px;
            }
            .enquire_Button{
                padding:8px 25px;
                background-color:white;
                color:black;
                outline:none;
                border:none;
                font-size: 17px;
                font-family: 'lato';
                margin: 20px 0px 0px -110px;
                font-weight: bold;
            }
           
        }

    }
    .roomPage_content_wrapper{
        margin: 40px 0px 0px 0px;
        .roompage_content_title{
            font-size: 17px;
            font-weight: bold;
            font-family: 'lato';
        }
        .single_bedtype_wrapper{
            display: flex;
           img{
               width:15px;
               height:15px;
               margin: 3px 5px 0px 0px;
           }
            p{
                font-size: 15px;
                font-family: 'lato';
                margin:0;
               
            }
        }
        .kitchen_content_question{
            font-size: 17px;
            font-weight: bold;
            font-family: 'lato';
            margin:10px 0px;
        }
        .roomPage_content{
            font-size: 15px;
            text-align: justify;
            margin:0;
            font-family: 'lato';
        }
        .facility_content_heading{
            font-size: 22px;
            font-weight: bold;
            margin:20px 0px 0px 0px;
            text-transform: uppercase;
            font-family: 'lato';
            text-align: center;
        }
        .facility_wrapper{
            .single_facility_wrapper_small{
                box-shadow: 2px 2px 2px 2px lightgrey;
                margin: 20px 0px 10px 0px;
                height: 500px;
                text-align: center;
                img{
                    width:100%;
                    height: 300px;
                }
            .facility_content_wrapper{
               margin:10px;
            .facility_title{
                font-size:17px;
                font-family: 'lato';
                margin: 20px 0px 10px 0px;
                text-align: center;
              font-weight: bold;
            }
                   .sub_title{
                       font-size:15px;
                       margin:10px;
                       text-align:justify;
                       font-family: 'lato';
                   }
                   .enquire_button{
                    padding:8px 25px;
                    background-color:#827e87;
                    color:white;
                    outline:none;
                    border:none;
                    font-size: 17px;
                    font-family: 'lato';
                    margin: auto;
                    font-weight: bold;
                }
           
                }     
                
            }
          
        }
        .contact_form{
            box-shadow: 2px 2px 2px 2px lightgrey;
            width:70%;
            margin:50px auto 0px auto;
            padding:30px;
            background-color: #f1f1f1;
            border-radius: 6px; 
        }
    }


    // PPE Kit Css

    .ppeKit_hero_section{
        .hero_image_wrapper{
            background-color: black;
            img{
                width:100%;
                opacity: 0.7;
                height: 500px;
            }
        }
        .ppeKit_hero_content_wrapper{
            position: absolute;
            top: 30%;
            left: 6%;
            color: white;
            text-align: center;
            .ppeKit_title{
            font-size:25px;
            font-weight: 600;
            font-family: 'lato';
            margin:0;
            }
            hr{
                margin: 0px 0px 0px 0;
                width:70%
            }
            .price_title{
                font-size: 25px;
                font-family: 'lato';
                margin:10px 0px 0px -170px;
            }
            .enquire_Button{
                padding:8px 25px;
                background-color:white;
                color:black;
                outline:none;
                border:none;
                font-size: 17px;
                font-family: 'lato';
                margin: 20px 0px 0px -50px;
                font-weight: bold;
            }
           
        }

    }
    .ppeKit_content_wrapper{
        margin: 40px 0px 0px 0px;
        .ppeKit_content_title{
            font-size: 17px;
            font-family: 'lato';
        }
        .single_ppeKit_wrapper{
            .heading_wrapper{
                display: flex;
                img{
                    width:15px;
                    height:15px;
                    margin: 2px 5px 0px 0px;
                }
                .ppeKit_content_heading{
                    font-size:15px;
                    font-weight: bold;
                    font-family: 'lato';
                    margin:0
                }
            }
            .ppeKit_heading_content{
                font-size:15px;
                margin:0px 0px 20px 10px;
                font-family: 'lato';
            }
         
        }
     
      
        .facility_content_heading{
            font-size: 22px;
            font-weight: bold;
            margin:20px 0px 0px 0px;
            text-transform: uppercase;
            text-align: center;
            font-family: 'lato';
        }
        .facility_wrapper{
            .single_facility_wrapper{
                box-shadow: 2px 2px 2px 2px lightgrey;
                margin: 30px 0px 10px 0px;
                height: 470px;
                text-align: center;
                img{
                    width:100%;
                    height: 300px;
                }
            .facility_content_wrapper{
               margin:10px;
            .facility_title{
                font-size: 17px;
                margin: 20px 0px 10px 0px;
                text-align: center;
                font-weight: bold;
                font-family: 'lato';
            }
            .facility_description{
                font-size: 15px;
                margin: 0;
                text-align: justify;
                font-family: 'lato';
        }
        
        .enquire_button{  
            padding:8px 25px;
            background-color:#827e87;
            color:white;
            outline:none;
            border:none;
            font-size: 17px;
            font-family: 'lato';
            font-weight: bold;
            margin:20px 0px 0px 0px;
        
    }
          
                }
                
            }
          
        }
        .contact_form{
            box-shadow: 2px 2px 2px 2px lightgrey;
            width:70%;
            margin:50px auto 0px auto;
            padding:30px;
            background-color: #f1f1f1;
            border-radius: 6px;
        }
    }

}

@media only screen and (max-width: 600px){
    .room_essentials_page_wrapper{
        overflow: hidden;
        .show_desktop{
            display: none;
        }
        .show_mobile{
            display: block;
        }
        .essentialsPage_hero_section{
            .hero_image_wrapper{
                img{
                    width:800px
                }
            }
            .hero_content_wrapper{
                padding:10px;
                left:0;
                right:0;
                .hero_sub_section{
                    padding:0px
                }
            }
        }
        .room_essentails_main_wrapper{
            margin: 40px 0px 0px 0px;
            .room_essentails_main_title{
                margin:20px 0px;
                font-size: 30px;
            }
         .single_service_main_wrapper{
             .single_service_wrapper{
                 display: block;
                 .image_wrapper{
                    margin: 0px auto;
                 }
                 .price_wrapper{
                    margin: -50px 0px 0px 90px;
                 }
                 .single_service_content{
                    margin: 0;
                    width:100%;
                    .single_service_content_title{
                        font-size: 22px;
                        text-align: center;
                        margin:20px 0px;
                    }
                    .single_service_description{
                        font-size:17px
                    }
                 }
             }
             .buttons_wrapper{
                 display: block;
                 .more_info_button,.enquire_button{
                     font-size: 20px;
                     width:100%
                 }
            }
         }
         .order_before_wrapper{
             margin:0;
             .mobile_order_heading{
                 font-size:25px;
             }
             .content_wrapper{
                 padding: 0px;
             }
         }
         .how_it_works_wrapper{
            margin:40px 0px 0px 0px;
            .how_it_works_content{
                margin:30px 0px 0px 0px;
            }
       
    }
         .frequently_question_wrapper{
             margin:20px 0px;
             padding:10px;
            .frequently_asked_questions{
                padding: 20px;
                .frequently_title{
                    font-size: 22px;
                }
                .single_question_wrapper{
                    .main_question_wrapper{
                        .main_question{
                            font-size: 20px;
                            margin: 20px 0px 0px 45px;
                        }
                        .number{
                            position:absolute;
                            margin: 25px 0px 0px 0px;

                        }
                    }
                    .answer{
                        font-size:17px;
                        text-align: justify;
                    }
                }
               
            }
        }
        }


        // Complete Room Pack CSS Mobile
        .roomPack_content_wrapper{
            .roomPack_content{
                font-size: 16px;
            }
            .important_points_wrapper{
                .main_point{
                    font-size:16px
                }
            }
            .contact_form{
                width:100%
            }
        }


        // Kitchen Pack CSS Mobile
        .kitchen_content_wrapper{
            margin: 40px 0px 0px 0px;
            .kitchen_content{
                font-size: 16px;
            }
            .contact_form{
                width:100%;
            }
        }

    // Bedroom Pack CSS Mobile
    .roomPage_content_wrapper{
        .roomPage_content{
            font-size: 16px;
        }
        .contact_form{
            width:100%;
        }
    }

    // PPE Kit Pack CSS Mobile
    .ppeKit_content_wrapper {
        .single_ppeKit_wrapper{
            .ppeKit_heading_content{
            font-size: 16px;
        }
    }
        .contact_form{
            width:100%;
        }
    }
    }  
}