.service_page {
    .landingPage_hero_section {
        position: relative;
    
        .hero_image_wrapper {
          background-color: #000;
          overflow: hidden;
    
          img {
            object-fit: cover;
            width: 100%;
            opacity: 0.7;
          }
        }
    
        .getintouch_wrapper {
          background-color: white;
          position: absolute;
          top: 14%;
          right: 3%;
          padding: 40px;
          border-radius: 6px;
          width: 40%;
    
          .getintouch_title {
            color: $blue;
            font-size: 25px;
            text-align: center;
    
          }
        }
    
      }
    .page_headline {
        text-align: center;
        margin: 30px 0px 0px 0px;
        font-family: $lato_font;
        letter-spacing: 0.5px;
        font-size: 20px;
        
    }
    .main_service_wrapper{
        margin:10px 0px 0px 0px;
        padding:20px;
    .single_service_wrapper {
        margin: 20px 0px;
        cursor: pointer;
        padding: 20px;
        border-radius: 6px;
        box-shadow: 0 2px 2px 2px lightgrey;
        img {
            width: 35%;
            border-radius: 9px;
        }
        .service_title{
            font-family: $lato_font;
            font-weight: 600;
            letter-spacing: 0.5px;
            font-size: 18px;
            text-transform: uppercase;
            margin: 15px 0;
        }
        .service_description{
            letter-spacing: 0.5px;
            font-size: 16px;
            margin: 15px 0;
        }
        button {
            outline: none !important;
            border: none !important;
            background-color: $light_pink !important;
            border-radius: 0;
            font-family: $lato_font;
            letter-spacing: 0.5px;
            color: #FFF;
            padding: 6px 28px;
        }
    }
    .single_color_service_wrapper {
        margin: 20px 0px;
        cursor: pointer;
        background-color: #F1F1F1;
        padding: 20px;
        border-radius: 6px;
        box-shadow: 0 2px 2px 2px lightgrey;
        img {
            width: 35%;
            border-radius: 9px;
        }
        .service_title{
            font-family: $lato_font;
            font-weight: 600;
            letter-spacing: 0.5px;
            font-size: 18px;
            text-transform: uppercase;
            margin: 15px 0;
        }
        .service_description{
            font-family: $lato_font;
            letter-spacing: 0.5px;
            font-size: 16px;
            margin: 15px 0;
        }
        button {
            outline: none !important;
            border: none !important;
            background-color: $light_pink !important;
            border-radius: 0;
            font-family: $lato_font;
            letter-spacing: 0.5px;
            color: #FFF;
            padding: 6px 28px;
         
        }
    }

    .single_vas_full_description {
        width: 90%;
        margin: 50px 0 0 0;
        font-family: $lato_font;
        letter-spacing: 0.5px;
        text-align: justify;
        .service_name {
            font-size: 20px;
            font-weight: 600;
        }
        .service_description {
            font-size: 16px;
        }
    }

    .service_form_wrapper {
        margin: 50px 0 0 0;
        p {
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 0.5px;
            font-family: Lato;
        }
        }
    }
    .service_form{
        margin:20px auto 0px auto;
        padding:40px;
        background-color:#F1F1F1;
        width:60%;
        border-radius: 6px;
        box-shadow: 0 2px 2px lightgrey;
        .form_title{
            font-size: 25px;
            text-align: center;
            margin:0px 0px 30px 0px;
            font-weight: bold;
            font-family: 'lato';
        }
    }

    @media only screen and (max-width: 600px) {
        margin: 120px 0 50px 0;
        .page_headline {
            font-size: 20px;
        }
        .main_service_wrapper{
        .single_service_wrapper,.single_color_service_wrapper {
            padding: 10px;
            margin: 0 0 20px 0;
            p {
                font-size: 18px;
            }
        }
    }
        .service_form{
            padding:40px;
             width:100%;
            .form_title{
                font-size: 25px;
                text-align: center;
                margin:0px 0px 30px 0px;
                font-weight: bold;
                font-family: 'lato';
            }
        }
    }
}