.terms_conditions_page{
    margin:90px 0px;
    .terms_conditions_page_headline{
       
       font-size: 30px;
        font-weight: bold;

    }
    .page_subheading{
        color:$blue;
        font-size: 24px;
    }
    .terms-conditions_content{
        text-align: justify;
        font-size: 19px;
        a{
            color:$light_pink;
        }
        
    }
}
@media only screen and (max-width: 600px){
   
    .terms_conditions_page{
        margin:90px 20px;
        .terms_conditions_page_headline{
            font-size: 29px;
        }
        .page_subheading{
            font-size: 23px;
        }
        .terms-conditions_content{
            font-size: 18px;
        }
    }
}